<ul class="nav nav-pills" role="tablist" *ngIf="state.controlPanel.group$ | async as group">
  <li [class.active]="rlaGroup.isActive" role="presentation">
    <a
      [routerLink]="['.']"
      routerLinkActive
      #rlaGroup="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fa fa-fw fa-users"></i>
      Overview
    </a>
  </li>
  <li
    [class.active]="rlaUsers.isActive"
    role="presentation"
    *ngIf="(auth.isAdminOfGroup(group) | async) || (state.auth.user$ | async)?.superAdmin"
  >
    <a
      [routerLink]="['users']"
      routerLinkActive
      #rlaUsers="routerLinkActive"
    >
      <i class="fa fa-fw fa-user"></i>
      Users
    </a>
  </li>
  <!--<li
    [class.active]="rlaTestimonies.isActive"
    *ngIf="(auth.isAdminOfGroup(group) | async) || (state.auth.user$ | async)?.superAdmin"
    role="presentation"
  >
    <a
      [routerLink]="['testimonies']"
      routerLinkActive
      #rlaTestimonies="routerLinkActive"
    >
      <i class="fa fa-fw fa-comment"></i>
      Testimonies
    </a>
  </li>-->
</ul>

<router-outlet></router-outlet>
