<div class="row" *ngIf="state.controlPanel.group$ | async as group">
  <div class="col-sm-3 col-sm-push-9 m-b-md">
    <img src="/images/group.png" class="profile img-responsive img-circle" />

    <button
      type="button"
      class="btn btn-default btn-block"
      (click)="handleApprove(group)"
      *ngIf="!group.approved && (auth.isSuperAdmin() | async)"
    >
      <i class="fa fa-fw fa-check"></i>
      Approve
    </button>
    <button
      type="button"
      class="btn btn-default btn-block"
      (click)="modal.openGroupEdit('Update', group)"
      *ngIf="(auth.isAdminOfGroup(group) | async) || (auth.isSuperAdmin() | async)"
    >
      <i class="fa fa-fw fa-edit"></i>
      Update
    </button>
    <button
      type="button"
      class="btn btn-default btn-block"
      (click)="setArchived(group, true)"
      *ngIf="
        !group.archived && ((auth.isAdminOfGroup(group) | async) || (auth.isSuperAdmin() | async))
      "
    >
      <i class="fa fa-fw fa-archive"></i>
      Archive
    </button>
    <button
      type="button"
      class="btn btn-default btn-block"
      (click)="setArchived(group, false)"
      *ngIf="
        group.archived && ((auth.isAdminOfGroup(group) | async) || (auth.isSuperAdmin() | async))
      "
    >
      <i class="fa fa-fw fa-archive"></i>
      Unarchive
    </button>
    <button
      type="button"
      class="btn btn-default btn-block"
      (click)="confirmRemoveModal.show()"
      *ngIf="(auth.isAdminOfGroup(group) | async) || (auth.isSuperAdmin() | async)"
    >
      <i class="fa fa-fw fa-trash-o"></i>
      Remove
    </button>
    <button
      type="button"
      class="btn btn-default btn-block"
      (click)="leaveGroup(authUser, group)"
      *ngIf="(auth.isMemberOfGroup(group) | async) && (state.auth.user$ | async) as authUser"
    >
      <i class="fa fa-fw fa-sign-out"></i>
      Leave
    </button>
  </div>

  <div class="col-sm-9 col-sm-pull-3">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{ group?.name }}</td>
        </tr>
        <tr>
          <th>Created</th>
          <td>{{ group?.created | moment : 'LL' }}</td>
        </tr>
        <tr>
          <th>Approved</th>
          <td>
            <ui-icon-checked [isChecked]="group?.approved"></ui-icon-checked>
          </td>
        </tr>
        <tr>
          <th>Archived</th>
          <td>
            <ui-icon-checked [isChecked]="group?.archived"></ui-icon-checked>
          </td>
        </tr>
        <tr>
          <th>Members</th>
          <td>{{ numberOfMembers$ | async | number }}</td>
        </tr>
        <tr>
          <th>Acts of Love</th>
          <td>{{ state.counter$(group?._id) | async | number }}</td>
        </tr>
        <tr>
          <th>Welcome Message</th>
          <td>
            <ui-marked
              [content]="welcomeMessage"
              *ngIf="group?.welcomeMessage as welcomeMessage"
            ></ui-marked>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  bsModal
  #confirmModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-label="Confirmation"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p [innerHTML]="confirmModalContent"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeConfirmation(false)">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="closeConfirmation(true)">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #confirmRemoveModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-label="Are you sure you want to remove this group?"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" *ngIf="state.controlPanel.group$ | async as group">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to remove this group?</h4>
      </div>

      <div class="modal-body">
        <div class="media">
          <div class="media-left">
            <img src="/images/group.png" class="media-object img-circle icon" />
          </div>
          <div class="media-body media-middle">
            <h4 class="media-heading">{{ group?.name }}</h4>
          </div>
        </div>
        <div class="m-t-md">
          <ui-marked [content]="group?.welcomeMessage"></ui-marked>
        </div>
        <p class="m-t-lg">
          <b>Note:</b> This will completely delete the group from BeKind including all testimonies
          and deeds done. The global counter might go down from this action. All users will be
          removed from the group, but they will not be deleted from BeKind.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmRemoveModal.hide()">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="handleRemove(group)"
          [disabled]="isRemoving$ | async"
        >
          <i class="fa fa-cog fa-lg fa-spin" [hidden]="!(isRemoving$ | async)"></i>
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
