<div class="row" *ngIf="state.controlPanel.group$ | async as group">
  <div class="col-sm-3 col-sm-push-9 m-b-md">
    <img src="/images/group.png" class="profile img-responsive img-circle" />

    <button
      type="button"
      class="btn btn-default btn-block"
      (click)="modal.openGroupEdit('Update', group)"
      *ngIf="(auth.isAdminOfGroup(group) | async) || (auth.isSuperAdmin() | async)"
    >
      <i class="fa fa-fw fa-edit"></i>
      Update
    </button>
    <button
      type="button"
      class="btn btn-default btn-block"
      (click)="leaveGroup(authUser, group)"
      *ngIf="(auth.isMemberOfGroup(group) | async) && (state.auth.user$ | async) as authUser"
    >
      <i class="fa fa-fw fa-sign-out"></i>
      Leave
    </button>
  </div>

  <div class="col-sm-9 col-sm-pull-3">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{ group?.name }}</td>
        </tr>
        <tr>
          <th>Created</th>
          <td>{{ group?.created | moment : 'LL' }}</td>
        </tr>
        <tr>
          <th>Members</th>
          <td>{{ numberOfMembers$ | async | number }}</td>
        </tr>
        <tr>
          <th>Acts of Love</th>
          <td>{{ state.counter$(group?._id) | async | number }}</td>
        </tr>
        <tr>
          <th>Welcome Message</th>
          <td>
            <ui-marked
              [content]="welcomeMessage"
              *ngIf="group?.welcomeMessage as welcomeMessage"
            ></ui-marked>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  bsModal
  #confirmModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-label="Confirmation"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p [innerHTML]="confirmModalContent"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeConfirmation(false)">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="closeConfirmation(true)">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
