<div
  class="sidebar-wrapper"
  [class.showing]="state.layout.isMenuOpen$ | async"
  *ngIf="state.layout.isSmallScreen$ | async"
>
  <div class="sidebar-header">
    <div class="media user-profile">
      <div class="media-left" *ngIf="state.auth.isAuthenticated$ | async">
        <img [src]="(state.auth.user$ | async)?.picture" class="img-circle b-xs">
      </div>
      <div class="media-right media-middle">
        {{ (state.auth.user$ | async)?.name }}<br>
        <small class="text-muted">{{ (state.auth.user$ | async)?.email }}</small>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-lg btn-close"
      (click)="closeMenu()"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div class="sidebar-main">
    <liow-navbar-search (select)="closeMenu()"></liow-navbar-search>

    <div class="list-group">
      <a
        routerLink="/global"
        class="list-group-item list-group-item-inverse"
        (click)="closeMenu()"
      >
        <i class="fa fa-fw fa-globe text-primary"></i>
        Global Activity Feed
      </a>
      <a
        [routerLink]="['/g', authGroup?.urlName]"
        class="list-group-item list-group-item-inverse current-campaign"
        *ngIf="(state.auth.isAuthenticated$ | async) && (state.auth.group$ | async) as authGroup"
        (click)="closeMenu()"
      >
        <i class="fa fa-fw fa-users text-primary"></i>
        Current Campaign<br>
        <small class="text-muted">{{ authGroup?.name }}</small>
      </a>
    </div>

    <h5 class="text-uppercase text-muted" *ngIf="state.auth.isAuthenticated$ | async">
      <i class="fa fa-fw fa-user"></i>
      You&hellip;
    </h5>
    <div class="list-group" *ngIf="state.auth.isAuthenticated$ | async">
      <a
        [routerLink]="['/u', authUser?._id]"
        class="list-group-item list-group-item-inverse"
        (click)="closeMenu()"
        *ngIf="state.auth.user$ | async as authUser"
      >
        <i class="fa fa-fw fa-user-circle-o text-primary"></i>
        Your Profile
      </a>
      <a
        routerLink="/control-panel"
        class="list-group-item list-group-item-inverse"
        (click)="closeMenu()"
      >
        <i class="fa fa-fw fa-gears text-primary"></i>
        Control Panel
      </a>
    </div>

    <h5 class="text-uppercase text-muted" *ngIf="state.auth.isAuthenticated$ | async">
      <i class="fa fa-fw fa-users"></i>
      Groups&hellip;
    </h5>
    <div class="list-group" *ngIf="state.auth.isAuthenticated$ | async">
      <a
        *ngFor="let group of (state.auth.user$ | async)?.groups; trackBy: identifyBy('_id')"
        [routerLink]="['/g', group?.urlName]"
        class="list-group-item list-group-item-inverse"
        [class.active]="(state.auth.group$ | async)?._id === group?._id"
      >
        <i class="fa fa-fw"></i><!-- this icon left intentionally blank -->
        {{ group?.name }}
      </a>
      <button
        type="button"
        class="list-group-item list-group-item-inverse"
        (click)="modal.openGroupEdit(); closeMenu()"
      >
        <i class="fa fa-fw fa-pencil-square-o text-primary"></i>
        Group Signup
      </button>
    </div>

    <h5 class="text-uppercase text-muted" *ngIf="!(state.auth.isAuthenticated$ | async)">
      Join Us&hellip;
    </h5>
    <div class="list-group" *ngIf="!(state.auth.isAuthenticated$ | async)">
      <button
        type="button"
        class="list-group-item list-group-item-inverse"
        (click)="modal.openLogin(); closeMenu()"
      >
        <i class="fa fa-fw fa-sign-in text-primary"></i>
        Login
      </button>
      <button
        type="button"
        class="list-group-item list-group-item-inverse"
        (click)="modal.openSignup(); closeMenu()"
      >
        <i class="fa fa-fw fa-user-plus text-primary"></i>
        Signup
      </button>
      <button
        type="button"
        class="list-group-item list-group-item-inverse"
        (click)="modal.openGroupEdit(); closeMenu()"
      >
        <i class="fa fa-fw fa-pencil-square-o text-primary"></i>
        Group Signup
      </button>
    </div>
  </div>

  <div class="sidebar-footer" *ngIf="state.auth.isAuthenticated$ | async">
    <button
      type="button"
      class="btn btn-block btn-lg btn-logout"
      (click)="state.auth.logout(); closeMenu()"
    >
      <i class="fa fa-fw fa-power-off text-primary"></i>
      Logout
    </button>
  </div>
</div>

<div
  class="sidebar-backdrop"
  [class.showing]="state.layout.isMenuOpen$ | async"
  *ngIf="state.layout.isSmallScreen$ | async"
  (click)="closeMenu()"
></div>
