<jumbotron jumbo-classes="videotron">
  <jumbo-content>
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video ng-if="$ctrl.Deed.current.videoUrl"
                     video-url="$ctrl.Deed.current.videoUrl"
                     class="embed-responsive-item"></youtube-video>
    </div>

    <div class="deed-header">
      <img ng-src="{{ $ctrl.Deed.current.logo || '/images/deed.png' }}"
           class="img-responsive img-circle pull-left m-t-md m-r-sm">

      <h2 class="text-uppercase pull-left m-b-none">
        {{ $ctrl.Deed.current.title }}
      </h2>

      <h1 class="pull-right text-right m-b-none">
        {{ $ctrl.Act.counters[$ctrl.Deed.current._id] | number }}
      </h1>
    </div>
  </jumbo-content>
</jumbotron>

<div class="container container-pad">
  <div class="row">
    <div ng-hide="$ctrl.loading || $ctrl.error">
      <div class="col-sm-3 col-sm-push-9 m-b-sm">
        <button type="button"
                class="btn btn-primary btn-block btn-lg"
                ng-click="$ctrl.done($ctrl.Deed.current, $ctrl.User.group)"
                ng-if="$ctrl.User.isAuthenticated()"
                ng-disabled="$ctrl.doing">
          <img src="/images/logo-invert.png" class="img-responsive img-btn" ng-hide="$ctrl.doing">
          <i class="fa fa-cog fa-lg fa-spin" ng-show="$ctrl.doing"></i>
          Done
        </button>
        <button type="button"
                class="btn btn-primary btn-block"
                ng-click="$ctrl.testimony($ctrl.Deed.current, $ctrl.User.group)"
                ng-if="$ctrl.User.isAuthenticated()">
          <i class="fa fa-fw fa-comment"></i>
          Leave a Testimony
        </button>

        <button type="button"
                class="btn btn-primary btn-block btn-lg"
                ng-click="$ctrl.Modal.openLogin()"
                ng-if="!$ctrl.User.isAuthenticated()">
          <i class="fa fa-fw fa-user"></i>
          Login
        </button>
      </div>

      <div class="col-sm-9 col-sm-pull-3">
        <span class="pull-right">
          <button type="button"
                  ng-click="$ctrl.loadFeed($ctrl.Deed.current, { after: $ctrl.feedItems[0].created })"
                  ng-show="$ctrl.activeTab === 1"
                  ng-disabled="$ctrl.loadingFeed || $ctrl.feedItems === null"
                  class="btn btn-link">
            <i class="fa fa-refresh fa-lg"
               ng-class="{ 'fa-spin': $ctrl.loadingFeed }"></i>
          </button>
        </span>

        <div marked="$ctrl.Deed.current.content" class="m-b-md"></div>

        <feed feed-items="$ctrl.feedItems"
              loading="$ctrl.loadingFeed"
              load-more="$ctrl.loadFeed(
                $ctrl.Deed.current,
                { before: $ctrl.feedItems[$ctrl.feedItems.length - 1].created }
              )"
              ng-hide="$ctrl.feedItems === null"></feed>

        <p class="text-center"
           ng-show="$ctrl.feedItems === null">
          <i class="fa fa-cog fa-5x fa-spin"></i>
        </p>
      </div>
    </div>

    <div class="col-xs-12" ng-show="$ctrl.loading">
      <p class="text-center">
        <i class="fa fa-cog fa-5x fa-spin"></i>
      </p>
    </div>

    <div class="col-xs-12" ng-show="$ctrl.error">
      <uib-alert type="danger">
        <i class="fa fa-exclamation-triangle"></i>
        {{ $ctrl.error }}
      </uib-alert>
    </div>
  </div>
</div>
