<div class="container container-pad">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8 m-b-lg">
      <h3 class="m-t-none m-b-md">
        <i class="fa fa-users"></i>
        Groups
      </h3>

      <div class="list-group group-list">
        <a
          *ngFor="let group of (state.auth.user$ | async)?.groups; trackBy: identifyBy('_id')"
          [routerLink]="['/g', group?.urlName]"
          class="list-group-item clearfix"
        >
          <div class="group-list-img">
            <img [src]="group?.logo || '/images/group.png'" class="img-circle">
          </div>
          <div class="group-list-content">
            <h4 class="m-none">{{ group?.name }}</h4>
            <p class="m-b-none">
              <span class='f-lg'>
                {{ state.counter$(group?._id) | async | number }}
              </span> acts of love
            </p>
          </div>
        </a>
      </div>

      <liow-deed-list layout="vertical" [campaign]="state.auth.campaign$ | async"></liow-deed-list>
    </div>

    <div class="col-sm-8 col-sm-pull-4">
      <h3 class="m-t-none m-b-md">
        <i class="fa fa-fw fa-list"></i>
        Activity Feed
      </h3>

      <liow-feed
        [criteria]="{
          user: authUser?._id,
          group: listGroupIds(authUser?.groups),
          operator: '$or'
        }"
        *ngIf="state.auth.user$ | async as authUser"
      ></liow-feed>
    </div>
  </div>
</div>
