<liow-jumbotron background="/images/header.jpg"></liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h3 class="m-t-none m-b-md">
        <i class="fa fa-fw fa-book"></i>
        Our Story
      </h3>
      <p>
        <b>The Love is Our Weapon Campaign</b> began in a local youth ministry in Australia with a
        simple but powerful vision: to equip students to share God’s love in practical ways with
        their unsaved friends at school. What started as a small idea quickly turned into a
        movement.
      </p>
      <p>
        The goal was bold: 2,000 acts of love recorded over 10 weeks. But within just 10 days, that
        goal was shattered. Thousands of acts of kindness poured in, stories of transformation
        emerged, and lives were being impacted across the region. By the end of the 10-week
        campaign, the youth ministry had grown dramatically, with countless testimonies and a wave
        of momentum that exceeded all expectations.
      </p>

      <h3 class="m-t-lg m-b-md">
        <i class="fa fa-fw fa-lightbulb-o"></i>
        Our Vision
      </h3>
      <p>
        <b>Love is our Weapon</b> is more than a campaign: it’s a movement. It’s a bold,
        Spirit-empowered initiative equipping churches and believers to impact their communities
        through practical demonstrations of God’s love.
      </p>
      <p>
        We envision a mobilised army of everyday people, courageously carrying the love of Jesus
        into streets, cities, and nations, bringing hope, healing, and transformation wherever they
        go.
      </p>
      <p>
        We see lives changed and churches filled as radical, love-driven believers reach others
        through simple acts of kindness, empowered by the Holy Spirit.
      </p>
      <p>
        We see churches renewed, unified in purpose, ignited with compassion, and focused on
        mission.
      </p>
      <p>
        We see lasting fruit, families restored, communities transformed, and the world marked by
        the power of God’s love.
      </p>
    </div>
  </div>
</div>
