<liow-jumbotron background="/images/header.jpg"></liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h3 class="m-t-none m-b-md">
        <i class="fa fa-fw fa-book"></i>
        Our Story
      </h3>
      <p>
        The Love is our Weapon Campaign started in a local youth ministry in
        Australia. The youth ministry wanted to find a way to help empower
        students to better reach out to the unsaved in their schools. From this
        need, the idea for the campaign was birthed.
      </p>
      <p>
        The youth ministry had a goal to see 2,000 acts of love registered on
        their website over 10 weeks. Instead they saw 2,000 acts of love
        registered in the first 10 days. By the end of the 10 week campaign,
        many thousands of deeds had been registered on the website, dozens of
        testimonies came forth from the lives impacted and the youth ministry
        doubled in size.
      </p>

      <h3 class="m-t-lg m-b-md">
        <i class="fa fa-fw fa-lightbulb-o"></i>
        Our Vision
      </h3>
      <p>
        The Love is our Weapon Campaign is a unique and innovative evangelistic
        program, designed to bring a positive change to local communities by
        empowering churches and groups to impact others through practical acts
        of God’s love.
      </p>
      <p>
        We see a movement of people mobilised and sent out, carrying the love of
        God with boldness, impacting and transforming cities, regions and
        nations.
      </p>
      <p>
        We see a wave of salvations flood into local churches through radically
        equipped believers, reaching others through practical acts of kindness
        and empowered by the Holy Spirit.
      </p>
      <p>
        We see churches revitalised and transformed through unity and a common
        mission.
      </p>
      <p>We see lasting fruit, in churches, families, and the world.</p>
    </div>
  </div>
</div>
