<liow-jumbotron background="/images/header.jpg"></liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
      <h3>
        <i class="fa fa-fw fa-key"></i>
        Reset your password
      </h3>

      <form
        (ngSubmit)="form.valid && save(inputs.password)"
        #form="ngForm"
        novalidate
      >
        <div class="form-group" [class.has-error]="form.submitted && password.invalid">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            #password="ngModel"
            [(ngModel)]="inputs.password"
            placeholder="Enter a new password..."
            minlength="8"
            required
            autofocus
          >
          <span class="help-block" *ngIf="form.submitted && password.invalid">
            <span *ngIf="password.errors.required">Please enter a new password</span>
            <span *ngIf="password.errors.minlength">Password must be at least 8 characters</span>
          </span>
        </div>

        <div class="form-group" [class.has-error]="form.submitted && confirmPassword.invalid">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            #confirmPassword="ngModel"
            [(ngModel)]="inputs.confirmPassword"
            placeholder="Enter the same password again..."
            [validateSameAs]="password"
            required
          >
          <span class="help-block" *ngIf="form.submitted && confirmPassword.invalid">
            <span *ngIf="confirmPassword.errors.required">Please enter the same password again</span>
            <span *ngIf="confirmPassword.errors.sameAs">Entered passwords must be the same</span>
          </span>
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="isSaving$ | async"
        >
          <i class="fa fa-fw fa-cog fa-spin" [hidden]="!(isSaving$ | async)"></i>
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
