.form-control {
  width: 220px;
}

.input-church-connection {
  .form-control {
    float: left;
    width: 160px;
  }

  .input-church-connection-suffix {
    display: block;
    float: left;
    line-height: 34px;
    margin-left: 10px;
  }
}
