<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered table-striped" ng-hide="$ctrl.loading">
      <thead>
        <tr>
          <th style="width: 65px;">Logo</th>
          <th>Title</th>
          <th style="width: 150px;">Video</th>
          <th style="width: 102px;">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="deed in $ctrl.deeds track by deed._id">
          <td class="text-center">
            <img ng-src="{{deed.logo}}"
                 class="img-circle icon"
                 ng-if="deed.logo">
          </td>
          <td>{{ deed.title }}</td>
          <td>
            <div ng-if="deed.videoUrl">
              <a ng-href="{{ deed.videoUrl }}" target="_blank">
                <i class="fa fa-lg fa-youtube-play"></i>
                {{ deed.videoUrl.split('/') | last }}
              </a>
            </div>
            <div ng-if="!deed.videoUrl" class="text-center">
              <i class="fa fa-lg fa-times-circle text-muted"></i>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button"
                      class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a ng-click="$ctrl.Modal.openDeedPreview(deed._id)" href>
                    <i class="fa fa-fw fa-external-link-square"></i>
                    Open Preview
                  </a>
                </li>
                <li>
                  <a ng-href="/d/{{ deed.urlTitle }}">
                    <i class="fa fa-fw fa-heart"></i>
                    View Public Page
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="text-center" ng-show="$ctrl.loading">
      <i class="fa fa-cog fa-5x fa-spin"></i>
    </p>
  </div>
</div>
