<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" ng-hide="$ctrl.loading">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Title</th>
            <th>Video</th>
            <th>Content</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="deed in $ctrl.deeds track by deed._id">
            <td>
              <img ng-src="{{deed.logo}}"
                   class="img-circle icon"
                   ng-if="deed.logo">
            </td>
            <td>{{ deed.title }}</td>
            <td class="text-center">
              <icon-checked value="!!deed.videoUrl"></icon-checked>
            </td>
            <td>
              <div marked="deed.content"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-center" ng-show="$ctrl.loading">
      <i class="fa fa-cog fa-5x fa-spin"></i>
    </p>
  </div>
</div>
