<liow-jumbotron
  [background]="env.appId === 'liow' ? '/images/header.jpg' : 'https://res.cloudinary.com/liow/image/upload/v1768945827/header-students_fve4gz.jpg'"
></liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-9">
      <h3 class="m-t-none m-b-md">
        <i class="fa fa-fw fa-list"></i>
        Global Activity Feed
      </h3>

      <liow-feed [criteria]="{ 'target.group': 'null' }"></liow-feed>
    </div>

    <div class="col-sm-3 hidden-xs">
      <liow-deed-list layout="vertical" [isGlobal]="true"></liow-deed-list>
    </div>
  </div>
</div>
