<liow-jumbotron background="/images/header.jpg"></liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h3 class="m-t-none m-b-md">
        <i class="fa fa-fw fa-comments-o"></i>
        Send us a message
      </h3>
      <p>
        Fill out the form to send us a message, we aim to get back to you within
        1 business day.
      </p>
    </div>

    <div class="col-xs-12 col-sm-3">
      <h4 class="m-t-none m-b-md hidden-xs">
        <i class="fa fa-fw fa-envelope"></i>
        Email us
      </h4>
      <p class="visible-xs m-t-lg"></p>
      <p>
        Need help?
        <a href="mailto:hello@loveisourweapon.com?subject=Hello!">Say hello!</a>
      </p>
    </div>
  </div>
</div>
