<liow-jumbotron
  image="/images/group.png"
  [background]="group.coverImage"
  *ngIf="state.group$ | async as group"
>
  <div jumbotron-title>{{ group?.name }}</div>
  <div jumbotron-text>
    <span class="f-lg">
      {{ state.counter$(group?._id) | async | number }}
    </span>
    acts of love
  </div>
</liow-jumbotron>

<div class="container container-pad">
  <div class="row" *ngIf="state.group$ | async as group">
    <div class="col-sm-4 col-md-3 col-sm-push-8 col-md-push-9 m-b-lg">
      <div
        class="well well-sm"
        *ngIf="(auth.isMemberOfGroup(group) | async) && (state.campaign$ | async) as campaign"
      >
        <h5 class="text-center">
          Current Campaign<br>
          <small>
            <span class="f-lg">
              {{ state.counter$(campaign._id) | async | number }}
            </span>
            acts of love
          </small>
        </h5>

        <div [ngSwitch]="auth.isAdminOfGroup(group) | async">
          <!-- Show buttons with publish/unpublish menu for admins -->
          <div *ngSwitchCase="true">
            <div
              dropdown
              placement="bottom right"
              container="body"
              class="btn-group btn-block dropdown"
              *ngFor="let item of campaign.deeds; trackBy: identifyBy('deed._id')"
            >
              <a
                [routerLink]="['/d', item?.deed?.urlTitle]"
                class="btn"
                [class.btn-primary]="item?.published"
                [class.btn-default]="!item?.published"
                [class.btn-lg]="isCurrentDeed(item?.deed, campaign)"
              >
                {{ item?.deed?.title }}
              </a>
              <button
                type="button"
                dropdownToggle
                class="btn dropdown-toggle"
                [class.btn-primary]="item?.published"
                [class.btn-default]="!item?.published"
                [class.btn-lg]="isCurrentDeed(item?.deed, campaign)"
              >
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <li *ngIf="!item?.published">
                  <a (click)="setPublished(item?.deed, campaign, true); $event.preventDefault()" href>
                    <i class="fa fa-fw fa-thumbs-up"></i>
                    Publish
                  </a>
                </li>
                <li *ngIf="item?.published">
                  <a (click)="setPublished(item?.deed, campaign, false); $event.preventDefault()" href>
                    <i class="fa fa-fw fa-thumbs-down"></i>
                    Unpublish
                  </a>
                </li>
              </ul>
            </div>

            <hr>
            <button
              type="button"
              class="btn btn-default btn-block"
              (click)="modal.openCampaignEdit('Update', campaign)"
            >
              <i class="fa fa-fw fa-edit"></i>
              Update campaign
            </button>
            <button
              type="button"
              class="btn btn-default btn-block"
              (click)="finishCampaign(campaign)"
            >
              <i class="fa fa-fw fa-flag-checkered"></i>
              Finish campaign
            </button>
          </div>

          <!-- Show a normal button for non-admins -->
          <div *ngSwitchCase="false">
            <a
              *ngFor="let item of campaign?.deeds; trackBy: identifyBy('deed._id')"
              [routerLink]="['/d', item?.deed?.urlTitle]"
              class="btn btn-block"
              [class.btn-primary]="item?.published"
              [class.btn-default]="!item?.published"
              [class.btn-lg]="isCurrentDeed(item?.deed, campaign)"
            >
              {{ item?.deed?.title }}
            </a>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-primary btn-block btn-lg"
        (click)="joinGroup(state.auth.user$, state.group$)"
        *ngIf="(state.auth.isAuthenticated$ | async) && !(auth.isMemberOfGroup(group) | async)"
      >
        <i class="fa fa-fw fa-users"></i>
        Join us
      </button>
      <button
        type="button"
        class="btn btn-primary btn-block btn-lg"
        (click)="modal.openLogin()"
        *ngIf="!(state.auth.isAuthenticated$ | async)"
      >
        <i class="fa fa-fw fa-users"></i>
        Login &amp; Join us
      </button>
      <button
        type="button"
        class="btn btn-default btn-block"
        (click)="modal.openCampaignEdit()"
        *ngIf="!(state.campaign$ | async) && (auth.isAdminOfGroup(group) | async)"
      >
        <i class="fa fa-fw fa-bullhorn"></i>
        Setup campaign
      </button>
      <button
        type="button"
        class="btn btn-default btn-block"
        (click)="modal.openGroupEdit('Update', group)"
        *ngIf="auth.isAdminOfGroup(group) | async"
      >
        <i class="fa fa-fw fa-edit"></i>
        Update group
      </button>
      <button
        type="button"
        class="btn btn-default btn-block"
        (click)="leaveGroup(state.auth.user$, state.group$)"
        *ngIf="auth.isMemberOfGroup(group) | async"
      >
        <i class="fa fa-fw fa-sign-out"></i>
        Leave group
      </button>
    </div>

    <div class="col-sm-8 col-md-9 col-sm-pull-4 col-md-pull-3">
      <alert
        type="info"
        [dismissible]="true"
        *ngIf="!(state.campaign$ | async) && (auth.isAdminOfGroup(group) | async)"
      >
        You haven't got an active campaign, would you like to set one up now?&nbsp;
        <button
          type="button"
          class="btn btn-info btn-inline m-t-xxs p-xs"
          (click)="modal.openCampaignEdit()"
        >
          Setup Campaign
        </button>
      </alert>

      <tabset type="pills">
        <tab
          [active]="currentTab === tabs.Welcome"
          (select)="currentTab = tabs.Welcome"
        >
          <ng-template tabHeading>
            <i class="fa fa-fw fa-commenting"></i>
            Welcome
          </ng-template>

          <blockquote *ngIf="group?.welcomeMessage as welcomeMessage">
            <ui-marked [content]="welcomeMessage"></ui-marked>
          </blockquote>

          <div *ngIf="!group?.welcomeMessage">
            <h2>
              The Love is our Weapon Campaign is a youth movement that exists to
              change cities through the love of Jesus by doing strategic practical
              acts of love.
            </h2>
            <p>
              Thousands of people, doing thousands of acts of love, bringing
              change, value, healing and hope throughout cities and communities
              everywhere.
            </p>
          </div>
        </tab>

        <tab
          [active]="currentTab === tabs.Feed"
          (select)="currentTab = tabs.Feed"
        >
          <ng-template tabHeading>
            <i class="fa fa-fw fa-list"></i>
            Activity Feed
          </ng-template>

          <liow-feed
            [criteria]="{ group: group?._id }"
            *ngIf="group && (state.auth.isAuthenticated$ | async)"
          ></liow-feed>

          <p *ngIf="!(state.auth.isAuthenticated$ | async)">
            You must <a (click)="modal.openLogin(); $event.preventDefault()" href>login</a>
            to see {{ group?.name }}'s Activity Feed.
          </p>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<div
  bsModal
  #confirmModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Confirmation"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p [innerHTML]="confirmModalContent"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeConfirmation(false)">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="closeConfirmation(true)">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
