<liow-jumbotron
  image="/images/group.png"
  [background]="(group$ | async)?.coverImage"
>
  <div jumbotron-title>{{ (group$ | async)?.name }}</div>
  <div jumbotron-text>
    <span class="f-lg">
      {{ groupCounter$ | async | number }}
    </span>
    acts of love
  </div>
</liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-sm-push-8 col-md-push-9 m-b-lg">
      <button
        type="button"
        class="btn btn-primary btn-block btn-lg"
        (click)="joinGroup(authUser$, group$)"
        *ngIf="(isAuthenticated$ | async) && !(isUserAn$(memberOfGroup, authUser$, group$) | async)"
      >
        <i class="fa fa-fw fa-users"></i>
        Join us
      </button>
      <button
        type="button"
        class="btn btn-primary btn-block btn-lg"
        (click)="openLoginModal()"
        *ngIf="!(isAuthenticated$ | async)"
      >
        <i class="fa fa-fw fa-users"></i>
        Login &amp; Join us
      </button>
      <button
        type="button"
        class="btn btn-default btn-block"
        (click)="openGroupEditModal(group$)"
        *ngIf="isUserAn$(adminOfGroup, authUser$, group$) | async"
      >
        <i class="fa fa-fw fa-edit"></i>
        Update group
      </button>
      <button
        type="button"
        class="btn btn-default btn-block"
        (click)="leaveGroup(authUser$, group$)"
        *ngIf="isUserAn$(memberOfGroup, authUser$, group$) | async"
      >
        <i class="fa fa-fw fa-sign-out"></i>
        Leave group
      </button>
    </div>

    <div class="col-sm-8 col-md-9 col-sm-pull-4 col-md-pull-3">
      <alert
        type="info"
        [dismissible]="true"
        *ngIf="!(campaign$ | async) && (isUserAn$(adminOfGroup, authUser$, group$) | async)"
      >
        You haven't got an active campaign, would you like to set one up now?&nbsp;
        <button
          type="button"
          class="btn btn-info btn-inline m-t-xxs p-xs"
          (click)="openCampaignEditModal('Create', group$)"
        >
          Setup Campaign
        </button>
      </alert>

      <tabset type="pills">
        <tab
          [active]="(currentTab$ | async) === tabs.Welcome"
          (select)="setCurrentTab(tabs.Welcome)"
        >
          <template tabHeading>
            <i class="fa fa-fw fa-commenting"></i>
            Welcome
          </template>

          <blockquote *ngIf="(group$ | async)?.welcomeMessage">
            <ui-marked [content]="(group$ | async)?.welcomeMessage"></ui-marked>
          </blockquote>

          <div *ngIf="!(group$ | async)?.welcomeMessage">
            <h2>
              The Love is our Weapon Campaign is a youth movement that exists to
              change cities through the love of Jesus by doing strategic practical
              acts of love.
            </h2>
            <p>
              Thousands of people, doing thousands of acts of love, bringing
              change, value, healing and hope throughout cities and communities
              everywhere.
            </p>
          </div>
        </tab>

        <tab
          [active]="(currentTab$ | async) === tabs.Feed"
          (select)="setCurrentTab(tabs.Feed)"
        >
          <template tabHeading>
            <i class="fa fa-fw fa-list"></i>
            Activity Feed
          </template>

          <liow-feed
            [criteria]="{ group: (group$ | async)?._id }"
            *ngIf="(isAuthenticated$ | async) && (group$ | async)"
          ></liow-feed>

          <p *ngIf="!(isAuthenticated$ | async)">
            You must <a (click)="openLoginModal(); $event.preventDefault()" href>login</a>
            to see {{ (group$ | async)?.name }}'s Activity Feed.
          </p>
        </tab>
      </tabset>
    </div>
  </div>
</div>
