<liow-jumbotron background="/images/header.jpg"></liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2 class="m-t-none m-b-md">Privacy Policy</h2>
      <h3 class="m-t-none m-b-md">Introduction</h3>
      <p>
        Love is our Weapon is dependent on the generosity and goodwill of our supporters and
        subscribers to fulfil our charitable objectives. Having a positive relationship with our
        supporters is vitally important to us and we are committed to working in a transparent,
        ethical, responsible and honest way.
      </p>
      <p>We are registered with the ACNC and adhere to the standards of the ACNC.</p>
      <p>
        We are committed to protecting your personal information and being transparent about what
        information we hold about you, whether you are a visitor to our websites, a participant in a
        campaign or events, or a prayer supporter.
      </p>
      <p>
        This policy explains how we collect and use the personal information you provide to us,
        whether this is online, in person or via phone, email, letter or other correspondence or
        printed form, and personal information about you that we may obtain from third parties.
      </p>
      <p>
        If you use our websites or any of our services, or provide us with any personal information,
        we will bring this policy to your attention so that you are fully aware of how your
        information will be used and disclosed.
      </p>

      <h3 class="m-t-lg m-b-md">Our privacy policy in brief</h3>
      <p>
        It’s important that you read the full policy to understand what information we hold, how we
        may use it, and what your rights are.
      </p>
      <ul>
        <li>
          We collect information that is personal data. Personal data is information that can be
          used to help identify an individual, such as name, address, phone number, email address,
          IP addresses or website pages accessed.
        </li>
        <li>
          We collect information about everyone who engages with Love is our Weapon. This could be
          supporters, subscribers, customers, those who participate in our campaign, programmes or
          events, donors, volunteers, freelancers, authors, illustrators, employees or trustees.
        </li>
        <li>
          We collect information to provide services or goods, to provide information, to fundraise
          for our work, to resource our activities and to fulfil our charitable objectives and for
          administration. This information may also be used for research and wealth screening,
          analysis, and for the prevention or detection of crime.
        </li>
        <li>We only collect the information that we need or that you agree we can collect.</li>
        <li>
          We do our best to keep personal information secure wherever we collect personal data
          online.
        </li>
        <li>
          We never sell your data and we will never share it with another company or charity for
          their own purposes.
        </li>
        <li>
          We only share data where we are required by law or with carefully selected service
          providers who carry out work for us. We recognise the importance of ensuring that all our
          service providers treat your data as carefully as we would, use it only as instructed, and
          allow us to check that they do this.
        </li>
      </ul>
      <p>These are the key points of the privacy policy.</p>
      <p>
        This policy applies to the website we operate, our use of emails and postal mailings for
        marketing purposes, and any other methods we use for collecting information. It covers what
        we collect and why, what we do with the information, what we won’t do with the information,
        and what rights you have.
      </p>
    </div>
  </div>
</div>
