<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-label="Forgot your password?"
  aria-hidden="true"
  (onHidden)="onClose()"
  (onShown)="autofocus.focus()"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form (ngSubmit)="form.valid && send(emailAddress)" #form="ngForm" novalidate>
        <liow-modal-header
          modalTitle="Forgot your password?"
          (close)="onClose()"
        ></liow-modal-header>

        <div class="modal-body">
          <div class="form-group" [class.has-error]="form.submitted && email.invalid">
            <label for="email-forgot" class="control-label">Your email address</label>
            <input
              type="email"
              class="form-control"
              id="email-forgot"
              name="email"
              #email="ngModel"
              [(ngModel)]="emailAddress"
              placeholder="Email address..."
              required
              #autofocus
            />
            <span class="help-block" *ngIf="form.submitted && email.invalid">
              Please enter your email address
            </span>
          </div>
        </div><!-- .modal-body -->

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="isSending$ | async">
            <i class="fa fa-fw fa-cog fa-spin" [hidden]="!(isSending$ | async)"></i>
            Email me a recovery link
          </button>
        </div><!-- .modal-footer -->
      </form>
    </div>
  </div>
</div>
