<jumbotron jumbo-image="$ctrl.user.picture || $ctrl.User.getDefaultUserImage(item.user._id)"
           jumbo-background="::$ctrl.jumbotronBackground"
           jumbo-classes="jumbotron-small">
  <jumbo-title>{{ ::$ctrl.user.name }}</jumbo-title>
  <jumbo-text>
    <span class="f-lg">
      {{ $ctrl.Act.counters[$ctrl.user._id] | number }}
    </span>
    acts of love
  </jumbo-text>
</jumbotron>

<div class="container container-pad">
  <div class="row">
    <div ng-hide="$ctrl.loading || $ctrl.error">
      <div class="col-xs-12">
        <span class="pull-right">
          <button type="button"
                  ng-click="$ctrl.loadFeed($ctrl.user, { after: $ctrl.feedItems[0].created })"
                  ng-disabled="$ctrl.loadingFeed || $ctrl.feedItems === null"
                  ng-show="$ctrl.User.isAuthenticated()"
                  class="btn btn-link">
            <i class="fa fa-refresh fa-lg"
               ng-class="{ 'fa-spin': $ctrl.loadingFeed }"></i>
          </button>
        </span>

        <h3 class="m-t-none m-b-md">
          <i class="fa fa-fw fa-list"></i>
          Activity Feed
        </h3>

        <feed feed-items="$ctrl.feedItems"
              loading="$ctrl.loadingFeed"
              load-more="$ctrl.loadFeed($ctrl.user, { before: $ctrl.feedItems[$ctrl.feedItems.length - 1].created })"
              ng-hide="$ctrl.feedItems === null || !$ctrl.User.isAuthenticated()"></feed>

        <p ng-hide="$ctrl.User.isAuthenticated()">
          You must <a ng-click="$ctrl.Modal.openLogin()" href>login</a> to see {{ $ctrl.user.firstName }}'s Activity Feed.
        </p>
      </div>
    </div>

    <div class="col-xs-12" ng-show="$ctrl.loading">
      <p class="text-center">
        <i class="fa fa-cog fa-5x fa-spin"></i>
      </p>
    </div>

    <div class="col-xs-12" ng-show="$ctrl.error">
      <uib-alert type="danger">
        <i class="fa fa-exclamation-triangle"></i>
        {{ $ctrl.error }}
      </uib-alert>
    </div>
  </div>
</div>
