<liow-jumbotron [classes]="['videotron']">
  <div jumbotron-content>
    <img
      src="https://res.cloudinary.com/liow/image/upload/v1770555765/the-easter-campaign-2026_nq3q6d.jpg"
      alt="The Easter Campaign 2026"
      class="img-responsive"
      style="width: 580px; margin: 0 auto"
    />
  </div>
</liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p>
        The Easter Campaign is a five-week evangelistic campaign of practical love that leads into a
        gospel presentation at your Easter 2026 service.
      </p>

      <p>
        From <strong>1st March to 5th April</strong>, churches unite around four simple acts of love
        that open hearts to Jesus:
      </p>
      <h4 class="m-t-md m-b-sm">Week 1: Cheer a Champ</h4>
      <p>Celebrate someone who needs encouragement and speak life into them.</p>
      <h4 class="m-t-md m-b-sm">Week 2: Love the Lonely</h4>
      <p>Reach out to someone who feels unseen and show them genuine care.</p>
      <h4 class="m-t-md m-b-sm">Week 3: Sharing Is Caring</h4>
      <p>Bless someone with generosity in a practical, meaningful way.</p>
      <h4 class="m-t-md m-b-sm">Week 4: Pray for Your Peeps</h4>
      <p>Pray for friends, family, neighbours and believe for open doors to invite them.</p>
      <h4 class="m-t-md m-b-sm">Week 5: Save a Soul</h4>
      <p>
        These four expressions of love above create natural moments that lead beautifully into the
        gospel and opportunities for invitation to your Easter service.
      </p>

      <p class="m-t-lg">Your free resource pack includes:</p>
      <ul>
        <li>kids and youth ministry resources</li>
        <li>sermon notes</li>
        <li>connect studies</li>
        <li>graphics, videos and more</li>
      </ul>

      <p class="m-t-md">
        We would love your church to join us as we reach the unchurched at Easter through
        intentional love. We believe that God is going to move powerfully.
      </p>
      <p>Please reach out if you have any questions. We are here to serve.</p>

      <div class="text-center m-t-xl">
        <button type="button" (click)="modal.openGroupEdit()" class="btn btn-primary">
          Start a Campaign
        </button>
      </div>
    </div>
  </div>
</div>
