<div class="row">
  <div class="col-xs-12">
    <liow-control-panel-search
      [query]="query$ | async"
      (search)="onSearch($event)"
      autofocus
    ></liow-control-panel-search>

    <liow-control-panel-pagination
      typeOfItems="users"
      [numberOfItems]="numberOfUsers$ | async"
      [numberOfPages]="numberOfPages$ | async"
      [currentPage]="page$ | async"
      [pageSize]="pageSize$ | async"
      (numberOfPagesChanged)="numberOfPages$.next($event)"
      (currentPageChanged)="page$.next($event)"
    ></liow-control-panel-pagination>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-middle">
        <thead>
          <tr>
            <th style="width: 65px;">Picture</th>
            <th>Email</th>
            <th>Name</th>
            <th style="width: 95px;">Joined</th>
            <th style="width: 95px;">Last Seen</th>
            <th style="width: 90px;">Confirmed</th>
            <th *ngIf="groupId$ | async">Admin</th>
            <th *ngIf="(state.auth.user$ | async)?.superAdmin" style="width: 105px;">Super Admin</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of (state.controlPanel.users$ | async); trackBy: identifyBy('_id')">
            <td class="text-center">
              <img [src]="user.picture || '/images/user0.png'" class="img-circle icon">
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.created | moment:'YYYY-MM-DD' }}</td>
            <td>{{ user.lastSeen | moment:'YYYY-MM-DD' }}</td>
            <td class="text-center">
              <ui-icon-checked [isChecked]="user.confirmed"></ui-icon-checked>
            </td>
            <td *ngIf="(groupId$ | async) && (state.controlPanel.group$ | async) as group" class="text-center">
              <ui-icon-checked [isChecked]="isAdmin(user, group)"></ui-icon-checked>
            </td>
            <td *ngIf="(state.auth.user$ | async)?.superAdmin" class="text-center">
              <ui-icon-checked [isChecked]="user.superAdmin"></ui-icon-checked>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
