<div class="row">
  <div class="col-xs-12">
    <liow-control-panel-search
      [query]="(state$ | async)?.query"
      (search)="onSearch($event)"
      autofocus
    ></liow-control-panel-search>

    <liow-control-panel-pagination
      typeOfItems="users"
      [numberOfItems]="state.numberOfUsers"
      [numberOfPages]="state.numberOfPages"
      [currentPage]="state.page"
      [pageSize]="state.pageSize"
      (numberOfPagesChanged)="onNumberOfPagesChanged($event)"
      (currentPageChanged)="onCurrentPageChanged($event)"
      *ngIf="(state$ | async) as state"
    ></liow-control-panel-pagination>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-middle">
        <thead>
          <tr>
            <th style="width: 65px;">Picture</th>
            <th>Email</th>
            <th>Name</th>
            <th style="width: 95px;">Joined</th>
            <th style="width: 95px;">Last Seen</th>
            <th style="width: 90px;">Confirmed</th>
            <!--<th *ngIf="(state$ | async)?.groupId">Admin</th>-->
            <th *ngIf="(authUser$ | async)?.superAdmin" style="width: 105px;">Super Admin</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of (state$ | async)?.users; trackBy: identifyBy('_id')">
            <td class="text-center">
              <img [src]="user.picture || '/images/user0.png'" class="img-circle icon">
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.created | moment:'YYYY-MM-DD' }}</td>
            <td>{{ user.lastSeen | moment:'YYYY-MM-DD' }}</td>
            <td class="text-center">
              <ui-icon-checked [isChecked]="user.confirmed"></ui-icon-checked>
            </td>
            <!-- TODO: need full user object for this check -->
            <!--<td *ngIf="(state$ | async)?.groupId"class="text-center">
              <ui-icon-checked [isChecked]="$ctrl.Group.isAdmin($ctrl.group, user)"></ui-icon-checked>
            </td>-->
            <td *ngIf="(authUser$ | async)?.superAdmin" class="text-center">
              <ui-icon-checked [isChecked]="user.superAdmin"></ui-icon-checked>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
