html,
body {
  height: 100%;
}

a {
  transition: color 0.3s;
}

p:last-child {
  margin-bottom: 0;
}

.container-pad {
  padding-top: 40px;
  padding-bottom: 50px;
}
.container-pad-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}

.no-resize {
  resize: none;
}

.middle {
  vertical-align: middle;
}
.table.table-middle th,
.table.table-middle td {
  vertical-align: middle;
}

.app-loading-spinner {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 110px);

  > img {
    height: 60px;
  }
}

[hidden] {
  display: none !important;
}

// Fonts
.f-sm {
  font-size: 85%;
}
.f-lg {
  font-size: 125%;
}

.content-wrapper ul:not(.list-inline, .nav) {
  li + li {
    margin-top: 10px;
  }
}
