// Border
.b-xs { border: 1px solid; }

// Padding
.p-none { padding: 0 !important; }
.p-xs { padding: 2px 6px; }
.p-sm { padding: 10px; }
.p-md { padding: 20px; }

// Padding left
.p-l-none { padding-left: 0 !important; }
.p-l-xxs { padding-left: 1px; }
.p-l-xs { padding-left: 5px; }
.p-l-sm { padding-left: 10px; }
.p-l-md { padding-left: 20px; }
.p-l-lg { padding-left: 30px; }

// Padding right
.p-r-none { padding-right: 0 !important; }
.p-r-xxs { padding-right: 1px; }
.p-r-xs { padding-right: 5px; }
.p-r-sm { padding-right: 10px; }
.p-r-md { padding-right: 20px; }
.p-r-lg { padding-right: 30px; }

// Padding top
.p-t-none { padding-top: 0 !important; }
.p-t-xxs { padding-top: 1px; }
.p-t-xs { padding-top: 5px; }
.p-t-sm { padding-top: 10px; }
.p-t-md { padding-top: 20px; }
.p-t-lg { padding-top: 30px; }

// Padding bottom
.p-b-none { padding-bottom: 0 !important; }
.p-b-xxs { padding-bottom: 1px; }
.p-b-xs { padding-bottom: 5px; }
.p-b-sm { padding-bottom: 10px; }
.p-b-md { padding-bottom: 20px; }
.p-b-lg { padding-bottom: 30px; }

// Margin
.m-none { margin: 0 !important; }
.m-xxs { margin: 1px; }
.m-xs { margin: 5px; }
.m-sm { margin: 10px; }
.m-md { margin: 20px; }
.m-lg { margin: 30px; }

// Margin left
.m-l-none { margin-left: 0 !important; }
.m-l-xxs { margin-left: 1px; }
.m-l-xs { margin-left: 5px; }
.m-l-sm { margin-left: 10px; }
.m-l-md { margin-left: 20px; }
.m-l-lg { margin-left: 30px; }

// Margin right
.m-r-none { margin-right: 0 !important; }
.m-r-xxs { margin-right: 1px; }
.m-r-xs { margin-right: 5px; }
.m-r-sm { margin-right: 10px; }
.m-r-md { margin-right: 20px; }
.m-r-lg { margin-right: 30px; }

// Margin top
.m-t-none { margin-top: 0 !important; }
.m-t-xxs { margin-top: 1px; }
.m-t-xs { margin-top: 5px; }
.m-t-sm { margin-top: 10px; }
.m-t-md { margin-top: 20px; }
.m-t-lg { margin-top: 30px; }

// Margin bottom
.m-b-none { margin-bottom: 0 !important; }
.m-b-xxs { margin-bottom: 1px; }
.m-b-xs { margin-bottom: 5px; }
.m-b-sm { margin-bottom: 10px; }
.m-b-md { margin-bottom: 20px; }
.m-b-lg { margin-bottom: 30px; }
