<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Group edit"
  aria-hidden="true"
  (onHide)="onClose()"
  (onShown)="autofocus.focus()"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form
        (ngSubmit)="form.valid && save(state.group, state.setupCampaign)"
        #form="ngForm"
        class="form-horizontal"
        novalidate
      >
        <liow-modal-header
          modalTitle="{{ state.action }} Group"
          (close)="onClose()"
        ></liow-modal-header>

        <div class="modal-body" [hidden]="!isAuthenticated">
          <alert type="danger" *ngIf="state.errorMessage">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
            Failed sending request. Please try again or
            <a href="mailto:support@loveisourweapon.com">contact us</a> about it.
          </alert>

          <div
            class="form-group"
            [class.has-error]="form.submitted && (name.invalid || state.errors.name || state.errors.urlName)"
          >
            <label for="name" class="col-xs-3 control-label">Name</label>
            <div class="col-xs-9">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                #name="ngModel"
                [ngModel]="state.group.name"
                (ngModelChange)="onUpdatePropertyAction('Name', $event)"
                placeholder="Group name..."
                required
                #autofocus
              >
              <span
                class="help-block"
                *ngIf="!(form.submitted && (name.invalid || state.errors.name || state.errors.urlName))"
              >
                https://loveisourweapon.com/g/{{ (state.group.name | kebabCase) || '...' }}
              </span>
              <span class="help-block" *ngIf="form.submitted && name.errors?.required">
                Please enter a group name
              </span>
              <span class="help-block" *ngIf="state.errors.name || state.errors.urlName">
                Entered name is already taken
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="state.errors.logo">
            <label for="logo" class="col-xs-3 control-label">Logo</label>
            <div class="col-xs-9">
              <input
                type="text"
                class="form-control"
                id="logo"
                name="logo"
                [ngModel]="state.group.logo"
                (ngModelChange)="onUpdatePropertyAction('Logo', $event)"
                placeholder="Image upload coming soon..."
                disabled
              >
              <span class="help-block" *ngIf="!state.errors.logo">
                Ideally 500px x 500px
              </span>
              <span class="help-block" *ngIf="state.errors.logo">
                {{ state.errors.logo.message }}
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="state.errors.coverImage">
            <label for="coverImage" class="col-xs-3 control-label">Cover Image</label>
            <div class="col-xs-9">
              <input
                type="text"
                class="form-control"
                id="coverImage"
                name="coverImage"
                [ngModel]="state.group.coverImage"
                (ngModelChange)="onUpdatePropertyAction('CoverImage', $event)"
                placeholder="Image upload coming soon..."
                disabled
              >
              <span class="help-block" *ngIf="!state.errors.coverImage">
                Ideally 1280px x 580px
              </span>
              <span class="help-block" *ngIf="state.errors.coverImage">
                {{ state.errors.coverImage.message }}
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="state.errors.admins">
            <label class="col-xs-3 control-label">Admins</label>
            <div class="col-xs-9 p-t-xxs">
              <liow-user-picker
                [userList]="state.groupUsers"
                [selectedIds]="state.group.admins"
                [lockedIds]="authUser ? [authUser._id] : []"
                [disabled]="!state.group._id"
                (change)="onUpdatePropertyAction('Admins', $event)"
              ></liow-user-picker>
            </div>
          </div>

          <div class="form-group" [class.has-error]="state.errors.welcomeMessage">
            <label for="welcomeMessage" class="col-xs-3 control-label">Intro Message</label>
            <div class="col-xs-9">
              <ui-medium-editor
                id="welcomeMessage"
                [content]="state.group.welcomeMessage"
                (change)="onUpdatePropertyAction('WelcomeMessage', $event)"
                placeholder="Enter a welcome message..."
              ></ui-medium-editor>
              <span class="help-block" *ngIf="!state.errors.welcomeMessage">
                Select text to add links, bold, italics, etc.
              </span>
              <span class="help-block" *ngIf="state.errors.welcomeMessage">
                {{ state.errors.welcomeMessage.message }}
              </span>
            </div>
          </div>

          <div class="form-group" *ngIf="!state.group._id">
            <div class="col-xs-9 col-xs-push-3">
              <ui-switch
                [checked]="state.setupCampaign"
                (change)="onUpdatePropertyAction('SetupCampaign', $event)"
              >
                Setup your first campaign now?
              </ui-switch>
            </div>
          </div>
        </div><!-- .modal-body.isAuthenticated -->

        <div class="modal-body" [hidden]="isAuthenticated">
          <p>Please sign up or login to setup a new group</p>
          <p>
            <button
              type="button"
              (click)="openSignup()"
              class="btn btn-primary"
            >
              Sign up
            </button>
            &nbsp;&nbsp; or &nbsp;&nbsp;
            <button
              type="button"
              (click)="openLogin()"
              class="btn btn-default"
            >
              Login
            </button>
          </p>
        </div><!-- .modal-body.!isAuthenticated -->

        <div class="modal-footer">
          <button
            type="button"
            (click)="onClose()"
            class="btn btn-default"
          >
            Cancel
          </button>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!isAuthenticated || state.isSaving"
          >
            <i class="fa fa-cog fa-spin" [hidden]="!state.isSaving"></i>
            {{ state.action }}
          </button>
        </div><!-- .modal-footer -->

      </form>
    </div>
  </div>
</div>
