<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Group edit"
  aria-hidden="true"
  (onHide)="onClose()"
  (onShown)="autofocus.focus()"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <liow-modal-header
        modalTitle="{{ state.action }} Group"
        (close)="onClose()"
      ></liow-modal-header>

      <div class="modal-body">
        <alert type="danger" *ngIf="state.errorMessage">
          <i class="fa fa-fw fa-exclamation-triangle"></i>
          Failed sending request. Please try again or
          <a href="mailto:support@loveisourweapon.com">contact us</a> about it.
        </alert>

        <form
          (ngSubmit)="form.valid && save(state.group)"
          #form="ngForm"
          class="form-horizontal"
          [hidden]="!isAuthenticated"
          novalidate
        >
          <div
            class="form-group"
            [class.has-error]="state.errors.name || state.errors.urlName"
          >
            <label for="name" class="col-xs-3 control-label">Name</label>
            <div class="col-xs-9">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                [ngModel]="state.group.name"
                (ngModelChange)="onUpdatePropertyAction('Name', $event)"
                placeholder="Group name..."
                required
                #autofocus
              >
              <span class="help-block" *ngIf="!(state.errors.name || state.errors.urlName)">
                https://loveisourweapon.com/g/{{ state.group.name || '...' }}
                <!-- TODO: add kebabCase pipe -->
                <!--https://loveisourweapon.com/g/{{ (state.group.name | kebabCase) || '...' }}-->
              </span>
              <span class="help-block" *ngIf="state.errors.name || state.errors.urlName">
                Name is already taken
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="state.errors.logo">
            <label for="logo" class="col-xs-3 control-label">Logo</label>
            <div class="col-xs-9">
              <input
                type="text"
                class="form-control"
                id="logo"
                name="logo"
                [ngModel]="state.group.logo"
                (ngModelChange)="onUpdatePropertyAction('Logo', $event)"
                placeholder="Image upload coming soon..."
                disabled
              >
              <span class="help-block" *ngIf="!state.errors.logo">
                Ideally 500px x 500px
              </span>
              <span class="help-block" *ngIf="state.errors.logo">
                {{ state.errors.logo.message }}
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="state.errors.coverImage">
            <label for="coverImage" class="col-xs-3 control-label">Cover Image</label>
            <div class="col-xs-9">
              <input
                type="text"
                class="form-control"
                id="coverImage"
                name="coverImage"
                [ngModel]="state.group.coverImage"
                (ngModelChange)="onUpdatePropertyAction('CoverImage', $event)"
                placeholder="Image upload coming soon..."
                disabled
              >
              <span class="help-block" *ngIf="!state.errors.coverImage">
                Ideally 1280px x 580px
              </span>
              <span class="help-block" *ngIf="state.errors.coverImage">
                {{ state.errors.coverImage.message }}
              </span>
            </div>
          </div>

          <!-- TODO: add the admin picker -->
          <!--<div class="form-group"
               ng-class="{ 'has-error': $ctrl.error.errors.admins }">
            <label for="logo"
                   class="col-xs-3 control-label">
              Admins
            </label>
            <div class="col-xs-9">
              <ui-select multiple
                         id="admins"
                         name="admins"
                         ng-model="$ctrl.group.admins"
                         ng-disabled="!$ctrl.group._id">
                <ui-select-match placeholder="Select admins..."
                                 ui-lock-choice="$item._id === $ctrl.group.owner">
                  <img ng-src="{{ $item.picture || $ctrl.User.getDefaultUserImage($item._id) }}"
                       class="img-circle b-xs m-xxs"
                       style="width: 22px;">
                  {{ $item.name }}
                </ui-select-match>
                <ui-select-choices repeat="user._id as user in $ctrl.users | filter: { name: $select.search }">
                  <div class="clearfix">
                    <img ng-src="{{ user.picture || $ctrl.User.getDefaultUserImage(user._id) }}"
                         class="img-circle pull-left b-xs m-r-xs"
                         style="width: 22px;">
                    <div ng-bind-html="user.name | highlight: $select.search"></div>
                  </div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>-->

          <div class="form-group" [class.has-error]="state.errors.welcomeMessage">
            <label for="welcomeMessage" class="col-xs-3 control-label">Intro Message</label>
            <div class="col-xs-9">
              <ui-medium-editor
                id="welcomeMessage"
                [content]="state.group.welcomeMessage"
                (change)="onUpdatePropertyAction('WelcomeMessage', $event)"
                placeholder="Enter a welcome message..."
              ></ui-medium-editor>
              <span class="help-block" *ngIf="!state.errors.welcomeMessage">
                Select text to add links, bold, italics, etc.
              </span>
              <span class="help-block" *ngIf="state.errors.welcomeMessage">
                {{ state.errors.welcomeMessage.message }}
              </span>
            </div>
          </div>

          <div class="form-group" *ngIf="!state.group._id">
            <div class="col-xs-9 col-xs-push-3">
              <ui-switch
                [checked]="state.setupCampaign"
                (change)="onUpdatePropertyAction('SetupCampaign', $event)"
              >
                Setup your first campaign now?
              </ui-switch>
            </div>
          </div>

          <button type="submit" hidden></button>
        </form>

        <div [hidden]="isAuthenticated">
          <p>Please sign up or login to setup a new group</p>
          <p>
            <button
              type="button"
              (click)="openSignup()"
              class="btn btn-primary"
            >
              Sign up
            </button>
            &nbsp;&nbsp; or &nbsp;&nbsp;
            <button
              type="button"
              (click)="openLogin()"
              class="btn btn-default"
            >
              Login
            </button>
          </p>
        </div>
      </div><!-- .modal-body -->

      <div class="modal-footer">
        <button
          type="button"
          (click)="onClose()"
          class="btn btn-default"
        >
          Cancel
        </button>
        <button
          type="button"
          (click)="form.valid && save(state.group)"
          class="btn btn-primary"
          [disabled]="!isAuthenticated || state.isSaving"
        >
          <i class="fa fa-cog fa-spin" [hidden]="!state.isSaving"></i>
          {{ state.action }}
        </button>
      </div><!-- .modal-footer -->
    </div>
  </div>
</div>
