@import "../../../styles/variables";
@import "./feed-item.component";

.feed-wrapper {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: calc(50% - 2px);
    border-left: 4px solid $gray-lighter;
  }
}

.feed-refresh-button {
  float: right;
  margin-top: -50px;
}
