<div class="feed-controls">
  <ui-switch
    [checked]="testimoniesOnly"
    (change)="testimoniesOnly = $event; loadItems()"
    size="small"
    >{{ env.appId === 'liow' ? 'Testimonies' : 'Stories of Impact' }} only</ui-switch
  >
  |
  <button
    type="button"
    (click)="loadNewerItems()"
    [disabled]="isLoading$ | async"
    class="btn btn-link"
  >
    <i class="fa fa-refresh fa-lg" [class.fa-spin]="isLoading$ | async"></i>
  </button>
</div>

<div class="feed-wrapper">
  <liow-feed-item
    *ngFor="
      let feedItem of state.feed.items$ | async;
      trackBy: identifyBy('_id');
      let isLastItem = first
    "
    [item]="feedItem"
  ></liow-feed-item>

  <div
    class="feed-item feed-item-narrow text-center"
    uiInViewport
    (inViewport)="loadOlderItems()"
    *ngIf="(isLoading$ | async) || (state.feed.items$ | async)?.length > 0"
  >
    <div class="loading-bounce" [hidden]="!(isLoading$ | async)">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="feed-item" *ngIf="!(isLoading$ | async) && (state.feed.items$ | async)?.length === 0">
    No feed items to show.
  </div>
</div>
