<div class="feed-item clearfix">
  <div class="feed-item-type">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x text-muted"></i>
      <i
        class="fa fa-stack-1x fa-inverse"
        [ngClass]="{
          'fa-heart': item?.act,
          'fa-quote-right': item?.comment && item?.target?.deed,
          'fa-bullhorn': item?.comment && item?.target?.group
        }"
      ></i>
    </span>
  </div>

  <div class="feed-item-image">
    <img [src]="item?.user?.picture" class="img-circle" />
  </div>

  <div class="feed-item-content">
    <h6 class="m-t-none">
      <span
        [ngSwitch]="
          !item?.user?.anonymous &&
          ((state.auth.user$ | async)?._id === item?.user?._id ||
            (auth.isMemberOfGroup(item?.group) | async))
        "
      >
        <a [routerLink]="['/u', item?.user?._id]" *ngSwitchCase="true">
          {{ item?.user?.firstName }}
        </a>
        <span *ngSwitchCase="false"> Someone </span>
      </span>

      <span *ngIf="item?.group && !item?.target?.group">
        from
        <a [routerLink]="['/g', item?.group?.urlName]">{{ item?.group?.name }}</a>
      </span>

      <span *ngIf="item?.act">did the act of love</span>
      <span *ngIf="item?.comment && item?.target?.deed">left a testimony on</span>
      <span *ngIf="item?.comment && item?.target?.group">wrote a message to</span>

      <a [routerLink]="['/d', item?.target?.deed?.urlTitle]" *ngIf="item?.target?.deed">
        {{ item?.target?.deed?.title }}
      </a>

      <a [routerLink]="['/g', item?.target?.group?.urlName]" *ngIf="item?.target?.group">
        {{ item?.target?.group?.name }}
      </a>

      <span *ngIf="item?.count > 1">{{ item?.count }} times</span>
    </h6>

    <div class="feed-item-comment" *ngIf="item?.comment?.content?.text">
      <ui-marked [content]="item?.comment?.content?.text"></ui-marked>
    </div>

    <p class="small m-b-none">
      {{ item?.created | fromNow }}
      &middot;
      <span class="text-muted">
        {{ item?.created | moment : 'ddd, D MMM YYYY [at] HH:mm' }}
      </span>
    </p>
  </div>
</div>
