@import "../../../styles/variables";
@import "./feed-item.component";

.feed-wrapper {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: calc(50% - 2px);
    border-left: 4px solid $gray-lighter;
  }
}

.feed-refresh-button {
  float: right;
  margin-top: -50px;
}

.loading-bounce {
  display: block;
  height: 33px;

  > span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 3px;
    vertical-align: bottom;

    animation-name: bounce;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) { animation-delay: 0.15s; }
    &:nth-child(3) { animation-delay: 0.3s; }
  }
}

@keyframes bounce {
  0% { transform: translateY(40%); }
  17% { transform: translateY(-40%); }
  33% { transform: translateY(40%); }
  100% { transform: translateY(40%); }
}
