<div class="row" *ngIf="(state.auth.user$ | async)?.superAdmin">
  <div class="col-xs-12">
    <table class="table table-bordered table-striped table-middle">
      <thead>
        <tr>
          <th style="width: 65px">Logo</th>
          <th>Title</th>
          <th style="width: 192px">Video</th>
          <th style="width: 102px">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let deed of state.controlPanel.deeds$ | async; trackBy: identifyBy('_id')">
          <td class="text-center">
            <img [src]="deed?.logo || '/images/deed.png'" class="img-circle icon" />
          </td>
          <td>{{ deed?.title }}</td>
          <td>
            <div *ngIf="deed.videoUrl as videoUrl; else noVideoLink">
              <a href="{{ videoUrl }}" target="_blank">
                <i class="fa fa-lg fa-play-circle"></i>
                {{ deed.videoId }}
              </a>
            </div>
            <ng-template #noVideoLink>
              <ui-icon-checked [isChecked]="false"></ui-icon-checked>
            </ng-template>
          </td>
          <td>
            <div dropdown placement="bottom right" class="btn-group dropdown">
              <button type="button" dropdownToggle class="btn btn-default dropdown-toggle">
                Actions
                <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <li>
                  <a (click)="modal.openDeedPreview(deed); $event.preventDefault()" href>
                    <i class="fa fa-fw fa-external-link-square"></i>
                    Open Preview
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/d', deed?.urlTitle]">
                    <i class="fa fa-fw fa-heart"></i>
                    View Public Page
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
