.jumbotron {
  background-position: center;
  background-size: cover;
  margin: 0;
  color: white;

  &:not(.videotron) {
    height: 35vw;

    @media (max-width: $screen-xs-max) {
      height: 45vw;
    }
  }

  &.videotron {
    background: $gray-darker;

    .container {
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 80vw;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        width: 70vw;
      }
      @media (min-width: $screen-lg) {
        width: 60vw;
      }
    }
  }

  .jumbotron-image {
    float: left;
    width: 15%;
    margin-top: 8%;

    img {
      width: 200px;
      border: 2px solid;
    }
  }

  .jumbotron-title {
    float: right;
    width: 80%;
    margin: 9% 0 0;
    font-size: 5vw;
  }

  .jumbotron-text {
    float: right;
    width: 80%;
    font-size: 3vw;
  }
}
