// Bootstrap variable overrides
$brand-primary: #da190b;
$gray-border: #999;

$navbar-height: 58px;
$navbar-default-bg: #fff;
$navbar-default-color: #111;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-border: $gray-border;

// Include vendor dependencies
@import './font-awesome';
@import './bootstrap';
@import 'angular-ui-switch/angular-ui-switch';
@import 'medium-editor/dist/css/medium-editor';
@import 'medium-editor/dist/css/themes/default';

// Component stylesheets
@import './base';
@import './jumbotron';
@import './medium-editor';
@import './navbar';
@import './home';
@import './deed';
@import './footer';
