nav#liow-navbar {
  .navbar-brand {
    padding: 8px 15px;
    font-size: 24px;
    line-height: 14px;

    .navbar-brand-label {
      float: left;
      margin-top: 6px;
    }

    > img {
      float: left;
      height: 42px;
      margin-right: 15px;
    }

    small {
      font-size: 12px;
    }
  }

  .navbar-divider {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
      width: 1px;
      height: 58px;
      background: $gray-border;
      margin: 0 10px;
    }
  }

  #group-search {
    margin-top: 14px;

    .input-group {
      margin: 0;
    }

    .input-group-addon {
      border-radius: 15px 0 0 15px;
    }

    .form-control {
      border-radius: 0 15px 15px 0;
      width: 200px;
      height: 30px;
      background: #eee;
      color: #555;
      font-weight: normal;
      box-shadow: none;
    }
  }

  a.user-dropdown {
    padding-top: 8px;
    padding-bottom: 8px;

    > img {
      width: 40px;
      height: 40px;
      border: 1px solid;
    }
  }
}
