nav#liow-navbar {
  .navbar-brand > img {
    display: inline-block;
    width: 30px;
    margin-right: 15px;
  }

  .navbar-divider {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
      width: 1px;
      height: 58px;
      background: $gray-border;
      margin: 0 10px;
    }
  }

  #group-search {
    .input-group {
      margin: 0;
    }

    .form-control {
      border-radius: 0 $border-radius-small $border-radius-small 0;
      width: 200px;
    }
  }
}
