@import '../../styles/variables';

.control-panel {
  .list-group button {
    outline: none;
  }

  /deep/ {
    img.icon {
      width: 30px;
      border: 1px solid;
    }
    .modal-content img.icon {
      width: 50px;
    }

    img.profile {
      border: 2px solid;
      margin: 0 auto 20px;

      @media (max-width: $screen-xs-max) {
        max-width: 150px;
      }
    }

    .table tbody th {
      text-align: right;
      width: 120px;
    }

    .table td p:last-child {
      margin-bottom: 0;
    }

    .table tr .switch-container {
      margin-top: 0;
    }
  }
}
