.Home__Header {
  h1 {
    font-size: 35px;

    @media (min-width: $screen-sm-min) {
      font-size: 40px;
    }
  }

  p {
    font-size: 19px;

    @media (min-width: $screen-sm-min) {
      font-size: 22px;
    }
  }
}

.Home__SignupLogin {
  background: $gray-lighter;
}

.Home__Welcome {
  h1 {
    font-size: 55px;
    font-weight: bold;
  }

  .col-sm-3 {
    @media (max-width: $screen-xs-max) {
      text-align: center;
      margin-top: 40px;
      padding-top: 20px;
      border-top: 1px solid $gray-lighter;
    }

    @media (min-width: $screen-md-min) {
      padding-left: 40px;
    }
  }
}

.Home__HowTo {
  background: $gray-lighter;
  min-height: 55vw;
  max-height: 730px;
  position: relative;

  .row > div {
    position: inherit;
  }

  h2 {
    margin-top: 30px;
    font-weight: bold;
  }

  img {
    position: absolute;
    right: 0;
    bottom: -22px;
    max-width: 70%;

    @media (max-width: $screen-xs-max) {
      opacity: 0.7;
      bottom: -5vw;
    }
  }

  ol {
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-size: large;
    width: 30%;
    list-style-type: none;
    position: relative;

    li {
      margin: 30px 30px 30px 0;
      counter-increment: steps-counter;
      font-weight: bold;

      > small {
        font-weight: normal;
      }

      &:before {
        content: counter(steps-counter);
        color: white;
        background: $text-color;
        display: inline-block;
        width: 26px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        margin-right: 8px;
        border-radius: 13px;
      }
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      text-shadow: 0 0 1px $gray-lighter;
    }
  }
}

.Home__Footer {
  background: $gray-darker url('/images/footer-home.jpg') center;
  background-size: cover;
  color: white;
}

.Home__Spacer {
  height: 80px;
}

.group-list {
  $img-width: 40px;
  $img-spacer: 15px;

  .group-list-img {
    float: left;
    width: $img-width + $img-spacer;

    > img {
      width: $img-width;
      border: 1px solid;
    }
  }

  .group-list-content {
    float: right;
    width: calc(100% - 55px);
  }
}
