@import '../../../styles/variables';

:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1030;
}

.navbar-static-top {
  margin-bottom: 0;
}

.navbar .container {
  display: flex;

  .navbar-header {
    display: flex;
    justify-content: center;
  }

  .navbar-flex {
    flex: 1;
  }
}

.navbar-brand {
  padding: 8px 15px;
  font-size: 24px;
  line-height: 14px;

  .navbar-brand-label {
    float: left;
    margin-top: 6px;
  }

  > img {
    float: left;
    height: 42px;
    margin-right: 15px;
  }

  small {
    font-size: 12px;
  }
}

.navbar-divider {
  width: 1px;
  height: 58px;
  background: $gray-border;
  margin: 0 10px;
}

.navbar-toggle {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 22px 18px;

  background: none;
  border: none;
  border-radius: 0;

  &:hover {
    background: $dropdown-link-hover-bg;
  }
  &:focus {
    background: inherit;
  }
}

.navbar-nav > li > a {
  &:hover {
    background: $dropdown-link-hover-bg;
  }
  &:focus {
    background: inherit;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding-left: 11px;
    padding-right: 11px;
  }
}

a.user-dropdown {
  padding-top: 8px;
  padding-bottom: 8px;

  background: none !important;

  > img {
    width: 40px;
    height: 40px;
    border: 1px solid;
  }
}
