<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header" [class.navbar-flex]="isSmallScreen$ | async">
      <button
        type="button"
        (click)="openMenu()"
        class="navbar-toggle"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a
        routerLink="/"
        class="navbar-brand"
        title="Love is our Weapon"
      >
        <img src="/images/logo-navbar.png" alt="Love is our Weapon">
        <div class="navbar-brand-label">
          <span class="text-primary">
            {{ globalCounter$ | async | number }}
          </span>
          <br><small>acts of love</small>
        </div>
      </a>
    </div>

    <div *ngIf="(isSmallScreen$ | async) && (isAuthenticated$ | async)">
      <ul class="nav navbar-nav navbar-right m-none">
        <li dropdown>
          <a
            class="user-dropdown"
            (click)="openMenu(); $event.preventDefault()"
            href>
            <img [src]="(authUser$ | async)?.picture" class="img-circle">
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="!(isSmallScreen$ | async)" class="navbar-flex">
      <div class="navbar-divider navbar-left"></div>

      <liow-navbar-search></liow-navbar-search>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/global" title="Global Activity Feed">
            Global
          </a>
        </li>
        <li *ngIf="(isAuthenticated$ | async) && (authGroup$ | async)">
          <a [routerLink]="['/g', (authGroup$ | async)?.urlName]" [title]="(authGroup$ | async)?.name">
            Campaign
          </a>
        </li>

        <li dropdown placement="bottom right" class="dropdown" *ngIf="isAuthenticated$ | async">
          <a
            dropdownToggle
            class="user-dropdown dropdown-toggle"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img [src]="(authUser$ | async)?.picture || '/images/user0.png'" class="img-circle">
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
              {{ (authUser$ | async)?.name }}
            </li>
            <li>
              <a [routerLink]="['/u', (authUser$ | async)?._id]">
                <i class="fa fa-fw fa-user"></i>
                Your Profile
              </a>
            </li>
            <li>
              <a routerLink="/control-panel">
                <i class="fa fa-fw fa-cogs"></i>
                Control Panel
              </a>
            </li>
            <li class="divider" role="separator"></li>
            <li class="dropdown-header">
              <i class="fa fa-fw fa-users"></i>
              Groups
            </li>
            <li
              *ngFor="let group of (authUser$ | async)?.groups; trackBy: identifyBy('_id')"
              [class.active]="(authGroup$ | async)?._id === group._id"
            >
              <a [routerLink]="['/g', group.urlName]" (click)="setCurrentGroup(group)">
                {{ group.name }}
              </a>
            </li>
            <li>
              <a (click)="openGroupEdit(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-pencil-square-o"></i>
                Group Signup
              </a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a (click)="logout(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-power-off"></i>
                Logout
              </a>
            </li>
          </ul>
        </li><!-- [dropdown](isAuthenticated) -->

        <li dropdown placement="bottom right" class="dropdown" *ngIf="!(isAuthenticated$ | async)">
          <a
            dropdownToggle
            class="user-dropdown dropdown-toggle"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="/images/user0.png" class="img-circle">
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li>
              <a (click)="openLogin(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-sign-in"></i>
                Login
              </a>
            </li>
            <li>
              <a (click)="openSignup(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-user-plus"></i>
                Signup
              </a>
            </li>
            <li>
              <a (click)="openGroupEdit(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-pencil-square-o"></i>
                Group Signup
              </a>
            </li>
          </ul>
        </li><!-- [dropdown](!isAuthenticated) -->
      </ul>
    </div>
  </div>
</nav>
