<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header" [class.navbar-flex]="state.layout.isSmallScreen$ | async">
      <button type="button" (click)="openMenu()" class="navbar-toggle" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a routerLink="/" class="navbar-brand" title="Love is our Weapon">
        <img src="/images/logo-bekind.svg" alt="Love is our Weapon" />
        <div class="navbar-brand-label">
          <span class="text-primary">
            {{ state.counter$('global') | async | number }}
          </span>
          <br /><small>acts of love</small>
        </div>
      </a>
    </div>

    <div *ngIf="(state.layout.isSmallScreen$ | async) && (state.auth.isAuthenticated$ | async)">
      <ul class="nav navbar-nav navbar-right m-none">
        <li dropdown>
          <a class="user-dropdown" (click)="openMenu(); $event.preventDefault()" href>
            <img [src]="(state.auth.user$ | async)?.picture" class="img-circle" />
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="!(state.layout.isSmallScreen$ | async)" class="navbar-flex">
      <div class="navbar-divider navbar-left"></div>

      <liow-navbar-search></liow-navbar-search>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/global" title="Global Activity Feed"> Global </a>
        </li>
        <li
          *ngIf="(state.auth.isAuthenticated$ | async) && (state.auth.group$ | async) as authGroup"
          class="visible-md-block visible-lg-block"
        >
          <a [routerLink]="['/g', authGroup?.urlName]" [title]="authGroup?.name"> Campaign </a>
        </li>
        <li>
          <a href="https://liowstore.square.site/" target="_blank"> Shop </a>
        </li>
        <li>
          <a
            href="https://checkout.square.site/merchant/MLD5Q339MGHCP/checkout/KW7OEATX34QS3ZRIPKO6DH2W"
            target="_blank"
          >
            Donate
          </a>
        </li>

        <li
          dropdown
          placement="bottom right"
          class="dropdown"
          *ngIf="(state.auth.isAuthenticated$ | async) && (state.auth.user$ | async) as authUser"
        >
          <a
            dropdownToggle
            class="user-dropdown dropdown-toggle"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img [src]="authUser?.picture || '/images/user0.png'" class="img-circle" />
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
              {{ authUser?.name }}
            </li>
            <li>
              <a [routerLink]="['/u', authUser?._id]">
                <i class="fa fa-fw fa-user"></i>
                Your Profile
              </a>
            </li>
            <li>
              <a routerLink="/control-panel">
                <i class="fa fa-fw fa-cogs"></i>
                Control Panel
              </a>
            </li>
            <li class="divider" role="separator"></li>
            <li class="dropdown-header">
              <i class="fa fa-fw fa-users"></i>
              Groups
            </li>
            <li
              *ngFor="
                let group of getNonArchivedGroups(authUser?.groups);
                trackBy: identifyBy('_id')
              "
              [class.active]="(state.auth.group$ | async)?._id === group._id"
            >
              <a [routerLink]="['/g', group?.urlName]">
                {{ group?.name }}
              </a>
            </li>
            <li>
              <a (click)="modal.openGroupEdit(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-pencil-square-o"></i>
                Group Signup
              </a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a (click)="auth.logout(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-power-off"></i>
                Logout
              </a>
            </li>
          </ul>
        </li><!-- [dropdown](isAuthenticated) -->

        <li
          dropdown
          placement="bottom right"
          class="dropdown"
          *ngIf="!(state.auth.isAuthenticated$ | async)"
        >
          <a
            dropdownToggle
            class="user-dropdown dropdown-toggle"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="/images/user0.png" class="img-circle" />
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li>
              <a (click)="modal.openLogin(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-sign-in"></i>
                Login
              </a>
            </li>
            <li>
              <a (click)="modal.openSignup(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-user-plus"></i>
                Signup
              </a>
            </li>
            <li>
              <a (click)="modal.openGroupEdit(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-pencil-square-o"></i>
                Group Signup
              </a>
            </li>
          </ul>
        </li><!-- [dropdown](!isAuthenticated) -->
      </ul>
    </div>
  </div>
</nav>
