<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        (click)="toggleMenu()"
        class="navbar-toggle"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a
        routerLink="/"
        (click)="closeMenu()"
        class="navbar-brand"
        title="Love is our Weapon"
      >
        <img src="/images/logo-navbar.png" alt="Love is our Weapon">
        <div class="navbar-brand-label">
          <span class="text-primary">
            {{ globalCounter$ | async | number }}
          </span>
          <br><small>acts of love</small>
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" [collapse]="!(isMenuOpen$ | async)">
      <div class="navbar-divider navbar-left"></div>

      <!--<form class="navbar-form navbar-left" id="group-search" role="search">
        <div class="form-group">
          <label class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <ui-select ng-model="$ctrl.selected"
                       on-select="$ctrl.select($item)"
                       append-to-body="false">
              <ui-select-match placeholder="Find a group or deed...">
                {{ $select.selected.name || $select.selected.title }}
              </ui-select-match>
              <ui-select-choices repeat="choice in $ctrl.choices"
                                 group-by="$ctrl.groupChoices"
                                 refresh="$ctrl.refreshChoices($select.search)"
                                 refresh-delay="200"
                                 position="down">
                <div ng-bind-html="(choice.name || choice.title) | highlight:$select.search"></div>
              </ui-select-choices>
            </ui-select>
          </label>
        </div>
      </form>-->

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            routerLink="/global"
            title="Global Activity Feed"
            (click)="closeMenu()"
          >
            Global
          </a>
        </li>
        <li *ngIf="(isAuthenticated$ | async) && (authGroup$ | async)">
          <a
            [routerLink]="['/g', (authGroup$ | async)?.urlName]"
            [title]="(authGroup$ | async)?.name"
            (click)="closeMenu()"
          >
            Campaign
          </a>
        </li>
        <li dropdown>
          <a
            class="user-dropdown"
            dropdownToggle
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img [src]="(authUser$ | async)?.picture || '/images/user0.png'" class="img-circle">
            <span class="caret"></span>
          </a>
          <ul dropdownMenu>
            <li class="dropdown-header" *ngIf="isAuthenticated$ | async">
              {{ (authUser$ | async)?.name }}
            </li>
            <li *ngIf="isAuthenticated$ | async">
              <a [routerLink]="['/u', (authUser$ | async)?._id]" (click)="closeMenu()">
                <i class="fa fa-fw fa-user"></i>
                Your Profile
              </a>
            </li>
            <li *ngIf="isAuthenticated$ | async">
              <a routerLink="/control-panel" (click)="closeMenu()">
                <i class="fa fa-fw fa-cogs"></i>
                Control Panel
              </a>
            </li>
            <li *ngIf="isAuthenticated$ | async">
              <a (click)="logout(); closeMenu(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-sign-out"></i>
                Logout
              </a>
            </li>
            <li *ngIf="!(isAuthenticated$ | async)">
              <a (click)="openLogin(); closeMenu(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-sign-in"></i>
                Login
              </a>
            </li>
            <li *ngIf="!(isAuthenticated$ | async)">
              <a (click)="openSignup(); closeMenu(); $event.preventDefault()" href>
                <i class="fa fa-fw fa-user-plus"></i>
                Sign up
              </a>
            </li>
            <li class="divider" *ngIf="isAuthenticated$ | async" role="separator"></li>
            <li class="dropdown-header" *ngIf="isAuthenticated$ | async">
              <i class="fa fa-fw fa-users"></i>
              Groups
            </li>
            <li
              *ngFor="let group of (authUser$ | async)?.groups; trackBy: group?._id"
              [class.active]="(authGroup$ | async)?._id === group._id"
            >
              <a [routerLink]="['/g', group.urlName]" (click)="setCurrentGroup(group); closeMenu()">
                {{ group.name }}
              </a>
            </li>
            <li>
              <a (click)="openGroupEdit(); closeMenu(); $event.preventDefault()" href><!-- TODO: open group edit modal -->
                <i class="fa fa-fw fa-pencil-square-o"></i>
                Group sign up
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
