<div class="row">
  <div class="col-xs-12">
    <control-panel-search query="$ctrl.query"
                          on-search="$ctrl.onSearch($event)"
                          autofocus></control-panel-search>

    <p>
      Number of users:
      <strong>{{ $ctrl.numberOfUsers }}</strong>,
      showing:
      <strong>{{ (($ctrl.page - 1) * $ctrl.pageSize) + 1 }}</strong>
      to
      <strong>{{
        $ctrl.page == $ctrl.numberOfPages ?
          $ctrl.numberOfUsers :
          $ctrl.page * $ctrl.pageSize
      }}</strong>
    </p>

    <uib-pagination total-items="$ctrl.numberOfUsers"
                    items-per-page="$ctrl.pageSize"
                    ng-model="$ctrl.page"
                    ng-change="$ctrl.onPaginationChange($ctrl.page)"
                    num-pages="$ctrl.numberOfPages"
                    boundary-link-numbers="true"
                    max-size="5"
                    previous-text="&laquo;"
                    next-text="&raquo;"
                    class="m-none pagination-sm"></uib-pagination>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 65px;">Picture</th>
            <th>Email</th>
            <th>Name</th>
            <th>Joined</th>
            <th>Last Seen</th>
            <th>Confirmed</th>
            <th ng-if="$ctrl.$state.params.groupId">Admin</th>
            <th ng-if="$ctrl.User.isSuperAdmin()">Super Admin</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in $ctrl.users track by user._id">
            <td class="text-center">
              <img ng-src="{{ ::user.picture || $ctrl.User.getDefaultUserImage(user._id) }}"
                   class="img-circle icon">
            </td>
            <td>{{ ::user.email }}</td>
            <td>{{ ::user.name }}</td>
            <td>{{ ::user.created | moment }}</td>
            <td>{{ ::user.lastSeen | moment }}</td>
            <td class="text-center">
              <icon-checked value="::user.confirmed"></icon-checked>
            </td>
            <td ng-if="$ctrl.$state.params.groupId"
                class="text-center">
              <icon-checked value="$ctrl.Group.isAdmin($ctrl.group, user)"></icon-checked>
            </td>
            <td ng-if="$ctrl.User.isSuperAdmin()"
                class="text-center">
              <icon-checked value="::user.superAdmin"></icon-checked>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
