<liow-navbar></liow-navbar>
<liow-sidebar></liow-sidebar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<liow-modals></liow-modals>

<footer>
  <div class="container f-sm">
    <div class="pull-left">
      &copy; {{ date | moment:'YYYY' }}
      <span class="hidden-xs">The</span>
      Love is our Weapon
      <span class="hidden-xs">Campaign</span>
    </div>
    <div class="pull-right">
      <ul class="list-inline">
        <li><a routerLink="/about">About us</a></li>
        <li>&middot;</li>
        <li><a routerLink="/contact">Contact us</a></li>
      </ul>
    </div>
  </div>
</footer>
