@import "../styles/variables";

$footer-height: 60px;

.content-wrapper {
  padding-top: $navbar-height;
  padding-bottom: $footer-height;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  border-top: 1px solid $gray-border;
  background: $body-bg;

  > .container {
    padding: 15px;
    line-height: 30px;
  }

  ul {
    margin-bottom: 0;
  }
}
