<liow-navbar></liow-navbar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<liow-modals></liow-modals>

<footer>
  <div class="container f-sm">
    <div class="pull-left">
      &copy; {{ date | date:'y' }}
      <span class="hidden-xs">The</span>
      Love is our Weapon
      <span class="hidden-xs">Campaign</span>
    </div>
    <div class="pull-right">
      <ul class="list-inline">
        <li>
          Need help?
          <a href="mailto:hello@loveisourweapon.com?subject=Hello!">Say hello!</a>
        </li>
        <!-- TODO: add Help, Privacy & Terms links -->
        <!--<li><a href="#">Help</a></li>
        <li><a href="#">Privacy &amp; Terms</a></li>-->
      </ul>
    </div>
  </div>
</footer>
