<liow-navbar></liow-navbar>
<liow-sidebar></liow-sidebar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<liow-modals></liow-modals>

<footer>
  <div class="container f-sm">
    <div class="footer-copyright">
      &copy; {{ date | moment : 'YYYY' }}
      <span class="visible-xs-inline">{{ env.appName }}</span>
      <span class="hidden-xs">{{ env.appNameLong }}</span>
    </div>
    <div class="footer-social">
      <a
        href="https://www.facebook.com/{{
          env.appId === 'liow' ? 'loveisourweaponcampaign' : 'profile.php?id=61586151431873'
        }}"
        target="_blank"
      >
        <img src="/images/logo-facebook.png" alt="Facebook logo" />
      </a>
      <a
        href="https://www.instagram.com/{{
          env.appId === 'liow' ? 'loveisourweaponcampaign' : 'bekind.schools'
        }}"
        target="_blank"
      >
        <img src="/images/logo-instagram.png" alt="Instagram logo" />
      </a>
      <a
        href="https://www.youtube.com/@loveisourweaponcampaign"
        target="_blank"
        *ngIf="env.appId === 'liow'"
      >
        <img src="/images/logo-youtube.png" alt="YouTube logo" />
      </a>
    </div>
    <div class="footer-links">
      <ul class="list-inline">
        <li>
          <a routerLink="/about">About<span class="hidden-xs hidden-sm"> us</span></a>
        </li>
        <li>&middot;</li>
        <li>
          <a routerLink="/faqs">
            <span class="visible-xs visible-sm">FAQs</span>
            <span class="hidden-xs hidden-sm">Frequently asked</span>
          </a>
        </li>
        <li>&middot;</li>
        <li>
          <a routerLink="/privacy">Privacy<span class="hidden-xs hidden-sm"> policy</span></a>
        </li>
        <li>&middot;</li>
        <li>
          <a routerLink="/terms">Terms<span class="hidden-xs hidden-sm"> and conditions</span></a>
        </li>
        <li>&middot;</li>
        <li>
          <a routerLink="/contact">Contact<span class="hidden-xs hidden-sm"> us</span></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
