<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Test.$uibModalInstance.dismiss()">
    <span aria-hidden="true"><i class="fa fa-times"></i></span>
  </button>
  <h4 class="modal-title">
    Test Modal
  </h4>
</div><!-- .modal-header -->

<div class="modal-body">
  <p>This is just a test modal...</p>
</div><!-- .modal-body -->

<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          ng-click="Test.$uibModalInstance.dismiss()">
    Close
  </button>
</div><!-- .modal-footer -->
