<liow-jumbotron background="/images/header.jpg"></liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2 class="m-t-none m-b-md">
        <span class="visible-xs">FAQs</span>
        <span class="hidden-xs">Frequently asked questions</span>
      </h2>

      <h3 class="m-t-lg m-b-md">What is the LIOW campaign?</h3>
      <p>
        The Love is our Weapon Campaign is a unique and innovative evangelistic program, designed to
        mobilise individuals and bring positive change to local communities.
      </p>
      <p>
        Each week, your group will focus on a deed or act of love. Preach on it, do small group
        studies on it and then go out in your community and do it! E.g. Speaking words of
        encouragement, being generous, honouring leaders in the community etc.
      </p>
      <p>
        Your group gets their own subsite on the LIOW site, where you can see, in real-time, your
        counter-tallying your acts of love as your people click the “done” button and share
        testimonies on your group’s news feed.
      </p>

      <h3 class="m-t-lg m-b-md">Who can do the LIOW campaign?</h3>
      <p>
        Groups of people who want to see their cities and communities impacted by the practical love
        of God! Including churches, youth ministries, young adult ministries, kids ministries and
        even schools!
      </p>

      <h3 class="m-t-lg m-b-md">Does it cost?</h3>
      <p>No, it is totally free!</p>

      <h3 class="m-t-lg m-b-md">How long is the campaign for?</h3>
      <p>
        That’s up to you! You can choose how many weeks you’d like to do, we have found the sweet
        spot to be 5-6 weeks but you can do it for longer or shorter.
      </p>

      <h3 class="m-t-lg m-b-md">Can I choose the deeds?</h3>
      <p>Yes, you can choose which deeds you want to do and in what order you want to do them.</p>

      <h3 class="m-t-lg m-b-md">What do I get when I sign up?</h3>
      <p>
        You get your own subsite on our LIOW website. You also get access to our resource pack,
        which includes social media graphics, handouts and printables, promotional videos, deed
        videos and small group studies for each of the deeds.
      </p>

      <h3 class="m-t-lg m-b-md">Do you offer training?</h3>
      <p>
        Yes! For a successful campaign training is essential! Just a 30-minute Zoom or in-person
        meeting is all it takes, and then your team will be ready and on their way!
      </p>

      <h3 class="m-t-lg m-b-md">What results have been seen through the campaign?</h3>
      <p>
        Those who have completed the campaign have reported: a growth in overall attendance, a
        growth in new people attending their services, growth in salvations (both first-time and
        recommitments) and an increase in community engagement with their local communities.
      </p>
      <blockquote class="m-t-md">
        <p>“This will change the way the local church engages with their community”</p>
      </blockquote>
      <blockquote>
        <p>“This added a huge amount of value to the life of our church”</p>
      </blockquote>
      <blockquote>
        <p>“This is such a great and easy resource for youth ministries to grab and run with”</p>
      </blockquote>
      <blockquote>
        <p>“This is one of the best community engagement resources we’ve come across”</p>
      </blockquote>
    </div>
  </div>
</div>
