<ng-container *ngIf="state.auth.user$ | async as authUser">
  <ng-container *ngIf="!(groupId$ | async) || (state.controlPanel.group$ | async) as group">
    <div class="row" *ngIf="authUser?.superAdmin || (auth.isAdminOfGroup(group) | async)">
      <div class="col-xs-12">
        <liow-control-panel-search
          [query]="query$ | async"
          (search)="onSearch($event)"
          autofocus
        ></liow-control-panel-search>

        <liow-control-panel-pagination
          typeOfItems="comments"
          [numberOfItems]="numberOfComments$ | async"
          [numberOfPages]="numberOfPages$ | async"
          [currentPage]="page$ | async"
          [pageSize]="pageSize$ | async"
          (numberOfPagesChanged)="numberOfPages$.next($event)"
          (currentPageChanged)="page$.next($event)"
        ></liow-control-panel-pagination>

        <div class="table-responsive">
          <table class="table table-bordered table-striped table-middle">
            <thead>
              <tr>
                <th style="width: 190px">User</th>
                <th style="width: 190px">Deed</th>
                <th>Content</th>
                <th style="width: 95px">Date</th>
                <th style="width: 102px">&nbsp;</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let comment of state.controlPanel.comments$ | async;
                  trackBy: identifyBy('_id')
                "
              >
                <td>
                  <div class="media">
                    <div class="media-left">
                      <img
                        [src]="comment?.user?.picture || '/images/user0.png'"
                        class="media-object img-circle icon"
                      />
                    </div>
                    <div class="media-body media-middle">
                      {{ comment?.user?.name }}
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <img
                        [src]="comment?.target?.deed?.logo"
                        class="media-object img-circle icon"
                      />
                    </div>
                    <div class="media-body media-middle">
                      {{ comment?.target?.deed?.title }}
                    </div>
                  </div>
                </td>
                <td>
                  <ui-marked [content]="comment?.content?.text"></ui-marked>
                </td>
                <td>{{ comment?.created | moment : 'YYYY-MM-DD' }}</td>
                <td>
                  <div dropdown placement="bottom right" class="btn-group dropdown">
                    <button type="button" dropdownToggle class="btn btn-default dropdown-toggle">
                      Actions
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a (click)="confirmRemoveComment(comment); $event.preventDefault()" href>
                          <i class="fa fa-fw fa-trash-o"></i>
                          Remove
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<div
  bsModal
  #confirmRemoveModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-label="Are you sure you want to remove this comment?"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to remove this comment?</h4>
      </div>

      <div class="modal-body">
        <blockquote>
          <ui-marked [content]="removeComment?.content?.text"></ui-marked>
          <footer class="m-t-sm">
            {{ removeComment?.user?.name }} ({{ removeComment?.created | moment : 'YYYY-MM-DD' }})
          </footer>
        </blockquote>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmRemoveModal.hide()">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="handleRemoveComment(removeComment)"
          [disabled]="isRemovingComment$ | async"
        >
          <i class="fa fa-cog fa-lg fa-spin" [hidden]="!(isRemovingComment$ | async)"></i>
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
