<liow-jumbotron [classes]="['videotron']">
  <div jumbotron-content>
    <div class="embed-responsive embed-responsive-16by9" *ngIf="(state.deed$ | async)?.videoUrl as videoUrl">
      <ui-youtube-player
        [videoUrl]="videoUrl"
        class="embed-responsive-item"
      ></ui-youtube-player>
    </div>

    <div class="deed-header" *ngIf="state.deed$ | async as deed">
      <img
        [src]="deed?.logo || '/images/deed.png'"
        class="img-responsive img-circle pull-left m-t-md m-r-sm"
      >

      <h2 class="text-uppercase pull-left m-b-none">
        {{ deed?.title }}
      </h2>

      <h1 class="pull-right text-right m-b-none">
        <span *ngIf="state.auth.campaign$ | async as authCampaign">
          {{ state.counter$(authCampaign?._id + deed?._id) | async | number }}
        </span>
        <span *ngIf="!(state.auth.campaign$ | async) && (state.auth.group$ | async) as authGroup">
          {{ state.counter$(authGroup?._id + deed?._id) | async | number }}
        </span>
        <span *ngIf="!(state.auth.campaign$ | async) && !(state.auth.group$ | async)">
          {{ state.counter$(deed?._id) | async | number }}
        </span>
      </h1>
    </div>
  </div>
</liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-3 col-sm-push-9 m-b-sm">
      <button
        type="button"
        (click)="onDeedDone(state.deed$, state.auth.group$, state.auth.campaign$)"
        class="btn btn-primary btn-block btn-lg"
        *ngIf="state.auth.isAuthenticated$ | async"
        [disabled]="isDoing$ | async"
      >
        <img src="/images/logo-invert.png" class="img-responsive img-btn" [hidden]="isDoing$ | async">
        <i class="fa fa-cog fa-lg fa-spin" [hidden]="!(isDoing$ | async)"></i>
        Done
      </button>

      <button
        type="button"
        (click)="modal.openLogin()"
        class="btn btn-primary btn-block btn-lg"
        *ngIf="!(state.auth.isAuthenticated$ | async)"
      >
        <i class="fa fa-fw fa-user"></i>
        Login
      </button>

      <span *ngIf="state.auth.campaign$ | async as authCampaign; then showCampaignDeedList; else showFullDeedList"></span>
      <ng-template #showCampaignDeedList let-authCampaign>
        <liow-deed-list layout="vertical" [filterBy]="campaignDeedListFilter(authCampaign)"></liow-deed-list>
      </ng-template>
      <ng-template #showFullDeedList>
        <liow-deed-list layout="vertical"></liow-deed-list>
      </ng-template>
    </div>

    <div class="col-sm-9 col-sm-pull-3">
      <h2 class="m-t-none">Devotional</h2>

      <ui-marked
        [content]="(state.deed$ | async)?.content"
        class="m-b-md"
      ></ui-marked>

      <liow-comment-form
        [content]="testimony"
        (change)="testimony = $event"
        (save)="onSaveTestimony($event, state.deed$, state.auth.group$)"
        [isSaving]="isSavingTestimony$ | async"
        *ngIf="(state.auth.isAuthenticated$ | async) && (state.deed$ | async)"
      ></liow-comment-form>

      <liow-feed
        [criteria]="{ 'target.deed': deed?._id }"
        *ngIf="state.deed$ | async as deed"
      ></liow-feed>
    </div>
  </div>
</div>
