<liow-jumbotron [classes]="['videotron']">
  <div jumbotron-content>
    <div class="embed-responsive embed-responsive-16by9" *ngIf="(deed$ | async)?.videoUrl">
      <ui-youtube-player
        [videoUrl]="(deed$ | async)?.videoUrl"
        class="embed-responsive-item"
      ></ui-youtube-player>
    </div>

    <div class="deed-header">
      <img
        [src]="(deed$ | async)?.logo || '/images/deed.png'"
        class="img-responsive img-circle pull-left m-t-md m-r-sm"
      >

      <h2 class="text-uppercase pull-left m-b-none">
        {{ (deed$ | async)?.title }}
      </h2>

      <h1 class="pull-right text-right m-b-none">
        {{ deedCounter$ | async | number }}
      </h1>
    </div>
  </div>
</liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-3 col-sm-push-9 m-b-sm">
      <button
        type="button"
        (click)="null"
        class="btn btn-primary btn-block btn-lg"
        *ngIf="isAuthenticated$ | async"
        [disabled]="isDoing$"
      ><!-- TODO: add DONE button -->
        <img src="/images/logo-invert.png" class="img-responsive img-btn" [hidden]="isDoing$ | async">
        <i class="fa fa-cog fa-lg fa-spin" [hidden]="!(isDoing$ | async)"></i>
        Done
      </button>

      <button
        type="button"
        (click)="null"
        class="btn btn-primary btn-block btn-lg"
        *ngIf="!(isAuthenticated$ | async)"
      ><!-- TODO: open login modal -->
        <i class="fa fa-fw fa-user"></i>
        Login
      </button>

      <liow-deed-list layout="vertical"></liow-deed-list>
    </div>

    <div class="col-sm-9 col-sm-pull-3">
      <h2 class="m-t-none">Devotional</h2>

      <ui-marked [content]="(deed$ | async)?.content"></ui-marked>

      <!--<comment-form deed="::$ctrl.deed"
                    placeholder="Leave a testimony..."
                    ng-if="$ctrl.User.isAuthenticated()"></comment-form>-->

      <liow-feed [criteria]="{ 'target.deed': (deed$ | async)?._id }"></liow-feed>
    </div>
  </div>
</div>
