<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Login"
  aria-hidden="true"
  (onHide)="onClose()"
  (onShown)="autofocus.focus()"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <liow-modal-header
        modalTitle="Login"
        (close)="onClose()"
      ></liow-modal-header>

      <div class="modal-body">
        <div *ngIf="group">
          <ui-switch
            [checked]="state.joinGroup"
            (change)="onUpdatePropertyAction('JoinGroup', $event)"
          >
            Join {{ group.name }}
          </ui-switch>
          <hr>
        </div>

        <p>
          <button
            (click)="authenticateFacebook(state.joinGroup, group)"
            class="btn btn-facebook btn-block"
            [disabled]="state.isLoggingIn"
          >
            <i class="fa fa-fw fa-cog fa-spin" [hidden]="!state.isLoggingIn"></i>
            <i class="fa fa-fw fa-facebook-official" [hidden]="state.isLoggingIn"></i>
            Sign in with Facebook
          </button>
        </p>

        <hr>

        <form
          (ngSubmit)="form.valid && authenticateEmail(state.credentials, state.joinGroup, group)"
          #form="ngForm"
          novalidate
        >
          <alert type="danger" *ngIf="state.errorMessage">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
            {{ state.errorMessage }}

            <span *ngIf="state.errorMessage.includes('Please confirm')">
              <i class="fa fa-fw"></i>
              <a (click)="sendConfirmEmail(state.credentials.email); $event.preventDefault()" href>
                Re-send confirmation email?
                <i class="fa fa-cog fa-spin" [hidden]="!state.isSendingConfirmEmail"></i>
              </a>
            </span>
          </alert>

          <div class="form-group">
            <div class="input-group" [class.has-error]="form.submitted && email.invalid">
              <div class="input-group-addon">
                <i class="fa fa-fw fa-at"></i>
              </div>
              <input
                type="email"
                class="form-control"
                name="email"
                #email="ngModel"
                [ngModel]="state.credentials.email"
                (ngModelChange)="onUpdatePropertyAction('Email', $event)"
                placeholder="Email"
                required
                #autofocus
              >
            </div>
          </div>

          <div class="form-group">
            <div class="input-group" [class.has-error]="form.submitted && password.invalid">
              <div class="input-group-addon">
                <i class="fa fa-fw fa-key"></i>
              </div>
              <input
                type="password"
                class="form-control"
                name="password"
                #password="ngModel"
                [ngModel]="state.credentials.password"
                (ngModelChange)="onUpdatePropertyAction('Password', $event)"
                required
                placeholder="Password"
              >
            </div>
            <span class="help-block">
              <button
                type="button"
                (click)="onClose(); openForgotPassword(state.credentials.email)"
                class="btn btn-link btn-sm"
              >
                Forgot your password?
              </button>
            </span>
          </div>

          <button type="submit" hidden></button>
        </form>

        <p>
          Don't have an account?
          <button
            type="button"
            (click)="onClose(); openSignup()"
            class="btn btn-link btn-inline"
          >
            Sign up now
          </button>
        </p>
      </div><!-- .modal-body -->

      <div class="modal-footer">
        <button
          type="submit"
          (click)="form.valid && authenticateEmail(state.credentials, state.joinGroup, group)"
          class="btn btn-primary btn-block"
          [disabled]="state.isLoggingIn"
        >
          <i class="fa fa-fw fa-cog fa-spin" [hidden]="!state.isLoggingIn"></i>
          Login
        </button>
      </div><!-- .modal-footer -->
    </div>
  </div>
</div>
