@import '../../../styles/variables';

.deed-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deed-wrapper {
  flex-shrink: 0;
  float: left;
  width: calc(100% / 3);
  padding: 4vw;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: calc(100% / 4);
    padding: 30px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: calc(100% / 5);
    padding: 25px;
  }
  @media (min-width: $screen-lg) {
    width: calc(100% / 10);
    padding: 10px;
  }

  &:hover {
    background: $gray-dark;
    color: white;
  }
}

.deed-title {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  min-height: 38px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    font-size: 15px;
    min-height: 45px;
  }
}

.deed-image {
  position: relative;
}

.deed-text {
  margin-top: 6px;

  .deed-count {
    color: $brand-primary;
    font-size: 22px;
    font-weight: bold;

    @media (min-width: $screen-sm-min) {
      font-size: 25px;
    }
  }

  .deed-subtext {
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;

    @media (min-width: $screen-sm-min) {
      font-size: 12px;
    }
  }
}
