<div class="container-pad-sm">
  <div
    *ngFor="let deed of deeds; trackBy: identifyBy('_id')"
    class="deed-wrapper"
    [routerLink]="['/d', deed.urlTitle]"
    [class.deed-current]="deed._id === (state.deed$ | async)?._id"
  >
    <div class="deed-image">
      <img [src]="deed.logo || 'images/deed.png'" class="img-responsive img-circle">
    </div>
    <div class="deed-text">
      <span class="deed-title">{{ deed.title }}</span>
      <br>
      <span class="deed-count">{{ state.counter$(deed._id) | async | number }}</span>
      <span class="deed-subtext">Deeds Done</span>
    </div>
  </div>
</div>
