<div class="Home__Welcome1">
  <div class="container container-pad">
    <div class="row">
      <div class="col-sm-9">
        <h2>
          The Love is our Weapon Campaign is a youth movement that exists to
          change cities through the love of Jesus by doing strategic practical
          acts of love.
        </h2>
        <p>
          Thousands of people, doing thousands of acts of love, bringing
          change, value, healing and hope throughout cities and communities
          everywhere.
        </p>
        <p class="text-center">
          <br>
          <button type="button"
                  class="btn btn-primary"
                  ng-click="$ctrl.Modal.openLogin()">
            Login
          </button>
          &nbsp;&nbsp; or &nbsp;&nbsp;
          <button type="button"
                  class="btn btn-default"
                  ng-click="$ctrl.Modal.openGroupEdit('create')">
            Group sign up
          </button>
        </p>
      </div>

      <div class="col-sm-3">
        <h1 class="text-primary m-b-none">80,900</h1>
        <h4 class="m-none">acts of love</h4>
        <p class="m-t-none">done around the world</p>

        <h1 class="text-primary m-b-none">125</h1>
        <h4 class="m-none">ministries</h4>
        <p class="m-t-none">serving together</p>

        <h1 class="text-primary m-b-none">65,000</h1>
        <h4 class="m-none">individuals</h4>
        <p class="m-t-none">causing change</p>
      </div>
    </div>
  </div>
</div><!-- .Home__Welcome1 -->

<div class="Home__Welcome2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">
          Running a campaign is as easy as 1, 2, 3.
        </h2>
        <img src="images/welcome-laptop.png">
        <ol>
          <li>Sign up</li>
          <li>Join or start a group</li>
          <li>Start changing your world!</li>
        </ol>
      </div>
    </div>
  </div>
</div><!-- .Home__Welcome2 -->

<div class="Home__Welcome3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">
          Here’s how Love is Our Weapon can help you.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Title 1</h3>
        <p>
          After the Sabbath, as the first light of the new week dawned, Mary Magdalene and the other Mary came to keep vigil at the tomb. Suddenly the earth reeled and rocked under their feet as God’s angel came down from heaven, came right up to where they were standing. He rolled back the stone and then sat on it. Shafts of lightning blazed from him. His garments shimmered snow-white. The guards at the tomb were scared to death. They were so frightened, they couldn’t move.
        </p>
        <h3>Title 2</h3>
        <p>
          The women, deep in wonder and full of joy, lost no time in leaving the tomb. They ran to tell the disciples. Then Jesus met them, stopping them in their tracks. “Good morning!” he said. They fell to their knees, embraced his feet, and worshiped him. Jesus said, “You’re holding on to me for dear life! Don’t be frightened like that. Go tell my brothers that they are to go to Galilee, and that I’ll meet them there.”
        </p>
      </div>
      <div class="col-sm-6">
        <h3>Title 3</h3>
        <p>
          Meanwhile, the guards had scattered, but a few of them went into the city and told the high priests everything that had happened. They called a meeting of the religious leaders and came up with a plan: They took a large sum of money and gave it to the soldiers, bribing them to say, “His disciples came in the night and stole the body while we were sleeping.” They assured them, “If the governor hears about your sleeping on duty, we will make sure you don’t get blamed.” The soldiers took the bribe and did as they were told. That story, cooked up in the Jewish High Council, is still going around.
        </p>
        <h3>Title 4</h3>
        <p>
          Jesus, undeterred, went right ahead and gave his charge: “God authorized and commanded me to commission you: Go out and train everyone you meet, far and near, in this way of life, marking them by baptism in the threefold name: Father, Son, and Holy Spirit. Then instruct them in the practice of all I have commanded you. I’ll be with you as you do this, day after day after day, right up to the end of the age.”
        </p>
      </div>
    </div>
  </div>
</div>
