@import '../../../styles/variables';

liow-deed-list {
  display: block;
  margin-top: 30px;
}

.home-welcome {
  h1 {
    font-size: 55px;
    font-weight: bold;
  }

  .col-sm-3 {
    @media (max-width: $screen-xs-max) {
      text-align: center;
      margin-top: 40px;
      padding-top: 20px;
      border-top: 1px solid $gray-lighter;
    }

    @media (min-width: $screen-md-min) {
      padding-left: 40px;
    }
  }
}

.home-partners {
  background: $gray-lighter;
  padding: 30px 0;

  .partner-logos {
    display: flex;
  }

  .partner-logo {
    flex: 1;

    img {
      max-width: 100%;
    }
  }
}

.home-footer {
  background: $gray-darker url('/images/footer-home.jpg') center;
  background-size: cover;
  color: white;

  &--bekind {
    background-image: url('/images/footer-bekind.jpg');
  }
}
