<liow-deed-list layout="horizontal"></liow-deed-list>

<div class="home-welcome">
  <div class="container container-pad">
    <div class="row">
      <div class="col-sm-9">
        <div *ngIf="env.appId === 'liow'; then liowWelcome; else bekindWelcome"></div>
        <ng-template #liowWelcome>
          <h2>
            {{ env.appNameLong }} is a movement that exists to change cities through the love of
            Jesus by doing strategic practical acts of love.
          </h2>
          <p>
            Thousands of people, doing thousands of acts of love, bringing change, value, healing
            and hope throughout cities and communities everywhere.
          </p>

          <blockquote>
            <p>"Implementing {{ env.appName }} resulted in our youth ministry doubling in size."</p>
            <footer>Josh Clover, Urban Life Youth</footer>
          </blockquote>

          <blockquote>
            <p>
              "{{ env.appName }} genuinely worked. Members of our community were deeply impacted by
              tangible expressions of God's love and goodness."
            </p>
            <footer>Caleb Dwyer, Generosity Church</footer>
          </blockquote>

          <blockquote>
            <p>
              "We witnessed amazing growth and a sense of excitement across our entire church
              through {{ env.appName }}."
            </p>
            <footer>Rachel Worthy, Shellharbour Community Church</footer>
          </blockquote>

          <h4 class="m-t-lg m-b-sm">Did You Know?</h4>
          <ul>
            <li>
              Churches and youth ministries who run {{ env.appName }} experience an average of 30%
              growth
            </li>
            <li>69% of salvations recorded through {{ env.appName }} are first-time decisions</li>
            <li>
              {{ env.appName }} now offers Kids and Youth Ministry curriculum, along with a wide
              range of free resources!
            </li>
          </ul>

          <div class="m-t-xl">
            <button type="button" (click)="modal.openGroupEdit()" class="btn btn-primary">
              Start a Campaign for your Group!
            </button>
          </div>
        </ng-template>
        <ng-template #bekindWelcome>
          <h2>
            {{ env.appNameShort }} is a movement empowering students to positively impact their
            schools and communities through radical acts of kindness.
          </h2>
          <p>
            It’s about turning compassion into action; choosing to notice, include, and uplift
            others in ways that make a real difference.
          </p>
          <p>
            When thousands of students take part in thousands of radical acts of kindness, it
            creates a ripple effect of hope, connection, and positive change that can transform
            entire communities.
          </p>
          <p>Because kindness isn’t small, it’s powerful.</p>
          <p>And when we live it boldly, it has the power to change the world.</p>
          <p>
            <br /><br />
            <button type="button" (click)="modal.openGroupEdit()" class="btn btn-primary">
              Start a Campaign for your School!
            </button>
          </p>
        </ng-template>
      </div>

      <div class="col-sm-3">
        <h1 class="text-primary m-b-none">
          <span>{{ state.counter$('global') | async | number }}</span>
        </h1>
        <h4 class="m-none">acts of {{ env.appId === 'liow' ? 'love' : 'kindness' }}</h4>
        <p class="m-t-none">done around the world</p>

        <h1 class="text-primary m-b-none">
          <span>{{ numberOfGroups$ | async | number }}</span>
        </h1>
        <h4 class="m-none">{{ env.appId === 'liow' ? 'groups' : 'schools' }}</h4>
        <p class="m-t-none">{{ env.appId === 'liow' ? 'serving together' : 'causing change' }}</p>

        <h1 class="text-primary m-b-none">
          <span>{{ numberOfUsers$ | async | number }}</span>
        </h1>
        <h4 class="m-none">individuals</h4>
        <p class="m-t-none">causing change</p>
      </div>
    </div>
  </div>
</div>

<div class="home-partners" *ngIf="env.appId === 'liow'">
  <div class="container container-pad text-center">
    <div class="row">
      <div class="col-xs-12">
        <p>These great organisations have partnered with {{ env.appNameLong }}.</p>

        <div class="partner-logos">
          <div class="partner-logo"><img src="/images/partners/hillsong.png" /></div>
          <div class="partner-logo"><img src="/images/partners/c3.png" /></div>
          <div class="partner-logo"><img src="/images/partners/acc.png" /></div>
          <div class="partner-logo"><img src="/images/partners/a21.png" /></div>
          <div class="partner-logo"><img src="/images/partners/baptist-nsw-act.png" /></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-footer home-footer--{{ env.appId }}">
  <div class="container container-pad text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ env.appName }}</h1>
        <p>
          <br /><br /><br />
          <button type="button" (click)="modal.openGroupEdit()" class="btn btn-primary">
            Start a Campaign
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
