@import '../../../styles/variables';

liow-deed-list {
  display: block;
  margin-top: 30px;
}

.home-welcome {
  h1 {
    font-size: 55px;
    font-weight: bold;
  }

  .col-sm-3 {
    @media (max-width: $screen-xs-max) {
      text-align: center;
      margin-top: 40px;
      padding-top: 20px;
      border-top: 1px solid $gray-lighter;
    }

    @media (min-width: $screen-md-min) {
      padding-left: 40px;
    }
  }
}

.home-partners {
  background: $gray-lighter;
  padding: 30px 0;

  .partner-logos {
    display: flex;
  }

  .partner-logo {
    flex: 1;

    img {
      max-width: 100%;
    }
  }
}

.home-footer {
  position: relative;
  background: $gray-darker
    url('https://res.cloudinary.com/liow/image/upload/v1768945357/footer-conference_ixkkbh.jpg')
    center;
  background-size: cover;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

  &--bekind {
    background-image: url('https://res.cloudinary.com/liow/image/upload/v1770552327/footer-hallway_gcudas.jpg');
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}
