@import '../../../styles/variables';

/deep/ .promo-banner {
  height: 30px;
  background-color: $brand-primary;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
