@import "~medium-editor/dist/css/medium-editor";
@import "~medium-editor/dist/css/themes/default";
@import "../../../styles/variables";

.medium-editor {
  background: $input-bg;
  color: $input-color;
  border-color: $input-border;

  > *:focus {
    outline: none;
  }

  [id^='medium-editor'] {
    min-height: 50px;

    > p:last-child {
      margin: 0;
    }
  }

  .medium-editor-placeholder:after {
    font-style: normal;
    color: $input-color-placeholder;
  }
}

.medium-editor-toolbar li button:hover {
  color: $brand-primary;
}
