<div class="row">
  <div class="col-xs-12">
    <liow-control-panel-search
      [query]="(state$ | async)?.query"
      (search)="onSearch($event)"
      autofocus
    ></liow-control-panel-search>

    <!--<p>
      Number of groups:
      <strong>{{ $ctrl.numberOfGroups }}</strong>,
      showing:
      <strong>{{ (($ctrl.page - 1) * $ctrl.pageSize) + 1 }}</strong>
      to
      <strong>{{
        $ctrl.page == $ctrl.numberOfPages ?
        $ctrl.numberOfGroups :
        $ctrl.page * $ctrl.pageSize
        }}</strong>
    </p>-->

    <!--<ul uib-pagination
        total-items="$ctrl.numberOfGroups"
        items-per-page="$ctrl.pageSize"
        ng-model="$ctrl.page"
        ng-change="$ctrl.onPaginationChange($ctrl.page)"
        num-pages="$ctrl.numberOfPages"
        boundary-link-numbers="true"
        max-size="5"
        previous-text="&laquo;"
        next-text="&raquo;"
        class="m-none pagination-sm"></ul>-->

    <table class="table table-bordered table-striped table-middle">
      <thead>
      <tr>
        <th style="width: 65px;">Logo</th>
        <th>Name</th>
        <th style="width: 95px;">Created</th>
        <th style="width: 102px;">&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let group of (state$ | async)?.groups; trackBy: identifyGroup">
        <td class="text-center">
          <img src="/images/group.png" class="img-circle icon">
        </td>
        <td>{{ group.name }}</td>
        <td>{{ group.created | moment:'YYYY-MM-DD' }}</td>
        <td>
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default" dropdownToggle>
              Actions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu-right" dropdownMenu>
              <li *ngIf="group.welcomeMessage">
                <a (click)="showWelcomeMessage(group.welcomeMessage); $event.preventDefault()" href>
                  <i class="fa fa-fw fa-commenting"></i>
                  Welcome Message
                </a>
              </li>
              <li>
                <a [routerLink]="['/g', group.urlName]">
                  <i class="fa fa-fw fa-users"></i>
                  View Public Page
                </a>
              </li>
              <li>
                <a [routerLink]="['/control-panel/group', group._id]">
                  <i class="fa fa-fw fa-cogs"></i>
                  View Admin Page
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
