<nav class="navbar navbar-default navbar-fixed-top" id="liow-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#liow-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img alt="Love is our Weapon" src="/images/logo-navbar.png">
        Love is our Weapon
      </a>
    </div>

    <div class="collapse navbar-collapse" id="liow-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Campaign</a></li>
        <li><a href="#">Updates</a></li>
        <li><a href="#">Comments <span class="badge">6</span></a></li>
      </ul>
    </div>
  </div>
</nav>
