<nav class="navbar navbar-default navbar-fixed-top" id="liow-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#liow-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img alt="Love is our Weapon" src="/images/logo-navbar.png">
        <div class="navbar-brand-label">
          <span class="text-primary">{{ $ctrl.Act.counters.global | number }}</span><br>
          <small>acts of love</small>
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="liow-navbar-collapse">
      <div class="navbar-divider navbar-left"></div>

      <form class="navbar-form navbar-left" id="group-search" role="search">
        <div class="form-group">
          <label class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <ui-select ng-model="$ctrl.group"
                       on-select="$ctrl.selectGroup($item)"
                       append-to-body="false">
              <ui-select-match placeholder="Find a group...">
                {{ $select.selected.name }}
              </ui-select-match>
              <ui-select-choices repeat="group in $ctrl.groups"
                                 position="down"
                                 refresh="$ctrl.refreshGroups($select.search)"
                                 refresh-delay="200">
                <div ng-bind-html="group.name | highlight:$select.search"></div>
              </ui-select-choices>
            </ui-select>
          </label>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="$ctrl.User.isAuthenticated() && $ctrl.User.group">
          <a ng-href="/g/{{ $ctrl.User.group.urlName }}"
             ng-click="$ctrl.collapseMenu()"
             title="{{ $ctrl.User.group.name }}">
            Campaign
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle user-dropdown"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false"
             href>
            <img ng-src="{{ $ctrl.User.current.picture || 'images/user.png' }}"
                 class="img-circle">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header"
                ng-show="$ctrl.User.isAuthenticated()">
              <i class="fa fa-fw fa-user"></i>
              {{ $ctrl.User.current.name }}
            </li>
            <li ng-show="$ctrl.User.isAuthenticated()">
              <a ng-click="$ctrl.User.logout() && $ctrl.collapseMenu()" href>
                <i class="fa fa-fw fa-sign-out"></i>
                Logout
              </a>
            </li>
            <li ng-hide="$ctrl.User.isAuthenticated()">
              <a ng-click="$ctrl.Modal.openLogin() && $ctrl.collapseMenu()" href>
                <i class="fa fa-fw fa-sign-in"></i>
                Login
              </a>
            </li>
            <li class="divider" ng-show="$ctrl.User.isAuthenticated()" role="separator"></li>
            <li class="dropdown-header"
                ng-show="$ctrl.User.isAuthenticated()">
              <i class="fa fa-fw fa-users"></i>
              Groups
            </li>
            <li ng-repeat="group in $ctrl.User.current.groups"
                ng-show="$ctrl.User.isAuthenticated()"
                ng-class="{ 'active': $ctrl.User.group._id === group._id }">
              <a ng-click="$ctrl.setUserGroup(group)" href>
                {{ group.name }}
              </a>
            </li>
            <li>
              <a ng-click="$ctrl.Modal.openGroupEdit() && $ctrl.collapseMenu()" href>
                <i class="fa fa-fw fa-pencil-square-o"></i>
                Group sign up
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
