<!--
Need to be aware of order here for layering
Lower is rendered on top of higher
-->

<liow-campaign-edit-modal
  [group]="state.group$ | async"
></liow-campaign-edit-modal>

<liow-change-password-modal></liow-change-password-modal>

<liow-deed-preview-modal></liow-deed-preview-modal>

<liow-group-edit-modal
  [isAuthenticated]="state.auth.isAuthenticated$ | async"
  [authUser]="state.auth.user$ | async"
></liow-group-edit-modal>

<liow-forgot-password-modal></liow-forgot-password-modal>

<liow-login-modal
  [group]="state.auth.group$ | async"
></liow-login-modal>

<liow-signup-modal
  [group]="state.auth.group$ | async"
></liow-signup-modal>
