<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Sign up"
  aria-hidden="true"
  (onHide)="onClose()"
  (onShown)="autofocus.focus()"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form
        (ngSubmit)="form.valid && signup(state.user, state.joinGroup, group)"
        #form="ngForm"
        class="form-horizontal"
        novalidate
      >
        <liow-modal-header
          modalTitle="Sign up"
          (close)="onClose()"
        ></liow-modal-header>

        <div class="modal-body">
          <div *ngIf="group">
            <ui-switch
              [checked]="state.joinGroup"
              (change)="onUpdatePropertyAction('JoinGroup', $event)"
            >
              Join {{ group.name }}
            </ui-switch>
            <hr>
          </div>

          <p>
            <button
              type="button"
              (click)="authenticateFacebook(state.joinGroup, group)"
              class="btn btn-facebook btn-block"
              [disabled]="state.isSigningUp"
            >
              <i class="fa fa-fw fa-cog fa-spin" [hidden]="!state.isSigningUp"></i>
              <i class="fa fa-fw fa-facebook-official" [hidden]="state.isSigningUp"></i>
              Sign up with Facebook
            </button>
          </p>

          <hr>

          <alert type="danger" *ngIf="state.errorMessage">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
            There was an error signing up. Please try again or
            <a href="mailto:support@loveisourweapon.com">contact us</a> about it.
          </alert>

          <div
            class="form-group"
            [class.has-error]="form.submitted && (firstName.invalid || state.errors.firstName)"
          >
            <label for="firstName" class="col-xs-3 control-label">Name</label>
            <div class="col-xs-9 col-sm-8">
              <div class="row">
                <div class="col-xs-6">
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    #firstName="ngModel"
                    [ngModel]="state.user.firstName"
                    (ngModelChange)="onUpdatePropertyAction('FirstName', $event)"
                    placeholder="First..."
                    required
                    #autofocus
                  >
                </div>
                <div class="col-xs-6">
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    #lastName="ngModel"
                    [ngModel]="state.user.lastName"
                    (ngModelChange)="onUpdatePropertyAction('LastName', $event)"
                    placeholder="Last..."
                  >
                </div>
              </div>
            </div>
            <span
              class="help-block col-xs-9 col-xs-push-3"
              *ngIf="form.submitted && (firstName.invalid || state.errors.firstName)"
            >
              <span *ngIf="firstName.errors?.required">Please enter your name</span>
              <span *ngIf="state.errors?.firstName">{{ state.errors.firstName.message }}</span>
            </span>
          </div>

          <div
            class="form-group"
            [class.has-error]="form.submitted && (email.invalid || state.errors.email)"
          >
            <label for="email" class="col-xs-3 control-label">Email</label>
            <div class="col-xs-9 col-sm-8">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                #email="ngModel"
                [ngModel]="state.user.email"
                (ngModelChange)="onUpdatePropertyAction('Email', $event)"
                placeholder="Email address..."
                validateEmail
              >
              <span
                class="help-block"
                *ngIf="form.submitted && (email.invalid || state.errors.email)"
              >
                <span *ngIf="email.errors?.validEmail">Please enter a valid email address</span>
                <span *ngIf="state.errors?.email">{{ state.errors.email.message }}</span>
              </span>
            </div>
          </div>

          <div
            class="form-group"
            [class.has-error]="form.submitted && (password.invalid || state.errors.password)"
          >
            <label for="password" class="col-xs-3 control-label">Password</label>
            <div class="col-xs-9 col-sm-8">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                #password="ngModel"
                [ngModel]="state.user.password"
                (ngModelChange)="onUpdatePropertyAction('Password', $event)"
                placeholder="Enter a password..."
                minlength="8"
                required
              >
              <span
                class="help-block"
                *ngIf="form.submitted && (password.invalid || state.errors.password)"
              >
                <span *ngIf="password.errors?.required">Please enter a password</span>
                <span *ngIf="password.errors?.minlength">Password must be at least 8 characters</span>
                <span *ngIf="state.errors?.password">{{ state.errors.password.message }}</span>
              </span>
            </div>
          </div>

          <div
            class="form-group"
            [class.has-error]="form.submitted && state.errors.picture"
          >
            <label for="picture" class="col-xs-3 control-label">Picture</label>
            <div class="col-xs-9 col-sm-8">
              <input
                type="text"
                class="form-control"
                id="picture"
                name="picture"
                #picture="ngModel"
                [ngModel]="state.user.picture"
                (ngModelChange)="onUpdatePropertyAction('Picture', $event)"
                placeholder="Image upload coming soon..."
                disabled
              >
              <span
                class="help-block"
                *ngIf="form.submitted && state.errors.picture"
              >
                <span *ngIf="state.errors?.picture">{{ state.errors.picture.message }}</span>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-9 col-xs-push-3">
              <p>
                Already have an account?
                <button
                  type="button"
                  (click)="onClose(); openLogin()"
                  class="btn btn-link btn-inline"
                >
                  Login now
                </button>
              </p>
            </div>
          </div>
        </div><!-- .modal-body -->

        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="state.isSigningUp"
          >
            <i class="fa fa-fw fa-cog fa-spin" [hidden]="!state.isSigningUp"></i>
            Sign up
          </button>
        </div><!-- .modal-footer -->

      </form>
    </div>
  </div>
</div>
