<navbar></navbar>

<ng-view></ng-view>

<footer class="footer">
  <div class="container">
    <div class="pull-left">
      <small>
        &copy; {{:: $ctrl.date | date:'yyyy' }} The Love is our Weapon Campaign
      </small>
    </div>
    <!-- TODO: add Help, Privacy & Terms links -->
    <!--<div class="pull-right">
      <small>
        <ul class="list-inline">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy &amp; Terms</a></li>
        </ul>
      </small>
    </div>-->
  </div>
</footer>
