<liow-jumbotron background="/images/header-home.jpg" [classes]="['videotron']">
  <div jumbotron-content class="home-header">
    <div class="text-center">
      <h1 class="m-none">Love is our Weapon</h1>
      <p class="m-t-none">Changing the world one deed at a time</p>
    </div>

    <div class="embed-responsive embed-responsive-16by9 m-t-sm">
      <ui-youtube-player
        videoId="rzvGAGKw8sU"
        class="embed-responsive-item"
      ></ui-youtube-player>
    </div>

    <div class="text-center m-t-md">
      <button
        type="button"
        (click)="openGroupEdit();"
        class="btn btn-primary btn-lg"
      >
        Start a Campaign
      </button>
    </div>
  </div>
</liow-jumbotron>

<liow-welcome *ngIf="!(isAuthenticated$ | async)"></liow-welcome>

<liow-home-feed
  [authUser]="authUser$ | async"
  [counters]="counters$ | async"
  *ngIf="isAuthenticated$ | async"
></liow-home-feed>
