<liow-jumbotron background="/images/header-home.jpg" [classes]="['videotron']">
  <div jumbotron-content class="home-header">
    <div class="text-center home-counter">
      <p>The Love is our Weapon Campaign</p>
      <h1 class="m-none">{{ state.counter$('global') | async | number }}</h1>
      <p class="m-t-none">Acts of love around the world</p>
    </div>

    <div class="embed-responsive embed-responsive-16by9 m-t-sm">
      <ui-youtube-player
        videoId="eG6A9w2HYJ8"
        class="embed-responsive-item"
      ></ui-youtube-player>
    </div>

    <div class="text-center m-t-md home-campaign-buttons">
      <button
        type="button"
        (click)="modal.openGroupEdit()"
        class="btn btn-primary btn-lg"
      >
        Start a Campaign
      </button>
      <br class="visible-xs-inline">
      or
      <br class="visible-xs-inline">
      <button
        type="button"
        (click)="modal.openGroupJoin()"
        class="btn btn-primary btn-lg"
      >
        Join a Campaign
      </button>
    </div>
  </div>
</liow-jumbotron>

<div *ngIf="state.auth.isAuthenticated$ | async; then showHomeFeed; else showWelcome"></div>
<ng-template #showWelcome>
  <liow-welcome></liow-welcome>
</ng-template>
<ng-template #showHomeFeed>
  <liow-home-feed></liow-home-feed>
</ng-template>
