<liow-jumbotron background="/images/header-home.jpg" [classes]="['videotron']">
  <div jumbotron-content class="home-header">
    <div class="text-center home-counter">
      <p>{{ env.appNameLong }}</p>
      <h1 class="m-none">{{ state.counter$('global') | async | number }}</h1>
      <p class="m-t-none">
        Acts of {{ env.appId === 'liow' ? 'love' : 'kindness' }} around the world
      </p>
    </div>

    <div class="embed-responsive embed-responsive-16by9 m-t-sm">
      <ui-embed-player
        videoId="ZUhZXc9PooE"
        class="embed-responsive-item"
        *ngIf="env.appId === 'liow'"
      ></ui-embed-player>
      <ui-embed-player
        videoUrl="https://player.cloudinary.com/embed/?cloud_name=liow&public_id=bekind-promo_h8xjiq"
        class="embed-responsive-item"
        *ngIf="env.appId === 'bekind'"
      ></ui-embed-player>
    </div>

    <div class="text-center m-t-md home-campaign-buttons">
      <button type="button" (click)="modal.openGroupEdit()" class="btn btn-primary btn-lg">
        Start a Campaign
      </button>
      <br class="visible-xs-inline" />
      or
      <br class="visible-xs-inline" />
      <button type="button" (click)="modal.openGroupJoin()" class="btn btn-primary btn-lg">
        Join a Campaign
      </button>
    </div>
  </div>
</liow-jumbotron>

<div *ngIf="state.auth.isAuthenticated$ | async; then showHomeFeed; else showWelcome"></div>
<ng-template #showWelcome>
  <liow-welcome></liow-welcome>
</ng-template>
<ng-template #showHomeFeed>
  <liow-home-feed></liow-home-feed>
</ng-template>
