@import '../../styles/variables';

.home-header {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

  h1 {
    font-size: 70px;

    @media (min-width: $screen-sm-min) {
      font-size: 100px;
    }
  }

  p {
    font-size: 18px;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
  }

  .btn {
    padding: 8px 10px;
  }

  .home-campaign-buttons {
    @media (min-width: $screen-sm-min) {
      button:first-child {
        margin-right: 10px;
      }
      button:last-child {
        margin-left: 10px;
      }
    }
  }
}
