<jumbotron image="/images/group.png"
           background="{{ GroupCtrl.jumbotronBackground }}"
           title="{{ GroupCtrl.Group.current.name }}"
           text="12,001 acts of love"></jumbotron>

<div class="container container-pad">
  <div class="row">
    <div ng-hide="GroupCtrl.loading || GroupCtrl.error">
      <div class="col-xs-9">
        <blockquote marked="GroupCtrl.Group.current.welcomeMessage"></blockquote>
      </div>
      <div class="col-xs-3">
        <p>
          <button type="button"
                  class="btn btn-primary btn-block"
                  ng-click="GroupCtrl.Modal.openLogin()">
            <i class="fa fa-fw fa-users"></i>
            <span ng-hide="GroupCtrl.User.isAuthenticated()">Login &amp; </span>
            Join us
          </button>
        </p>
      </div>
    </div>

    <div class="col-xs-12" ng-show="GroupCtrl.loading">
      <p class="text-center">
        <i class="fa fa-cog fa-5x fa-spin"></i>
      </p>
    </div>

    <div class="col-xs-12" ng-show="GroupCtrl.error">
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle"></i>
        {{ GroupCtrl.error }}
      </div>
    </div>
  </div>
</div>
