<liow-jumbotron background="/images/header.jpg"></liow-jumbotron>

<div class="container container-pad">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2 class="m-t-none m-b-md">Terms and Conditions</h2>
      <p>
        Welcome to the Love is our Weapon website. If you continue to browse and use this website,
        you are agreeing to comply with and be bound by the following terms and conditions of use,
        which together with our privacy policy. We may review these terms and our privacy policy
        from time to time.
      </p>
      <p>
        If you have any queries about the following, please <a routerLink="/contact">contact us</a>.
      </p>

      <h3 class="m-t-lg m-b-md">General terms</h3>
      <ul>
        <li>
          The content included on this website is for your general information and use only. It is
          subject to change without notice.
        </li>
        <li>
          Neither we nor any third parties provide any warranty or guarantee as to the accuracy,
          timeliness, performance, completeness or suitability of the information and materials
          found or offered on this website for any particular purpose. You acknowledge that such
          information and materials may contain inaccuracies or errors, and we expressly exclude
          liability for any such inaccuracies or errors to the fullest extent permitted by law.
        </li>
        <li>
          Your use of any information or materials on this website is entirely at your own risk, for
          which we shall not be liable. It shall be your own responsibility to ensure that any
          products, services or information available through this website meet your specific
          requirements.
        </li>
      </ul>

      <h3 class="m-t-lg m-b-md">Copyright</h3>
      <ul>
        <li>
          All material included on this website including but not limited to graphics, logos, icons,
          text and software is the property of Love is our Weapon or its content providers and is
          protected by Australian and international copyright laws.
        </li>
      </ul>

      <h3 class="m-t-lg m-b-md">Access to the website</h3>
      <ul>
        <li>
          Love is our Weapon grants you the right to use this website for your personal use but not
          to download or modify it or any part of it except with our prior written consent. This
          licence does not include any resale commercial use, or derivative use of the website or
          its contents. No part of the site may be used for commercial purposes without the express
          written consent of Love is our Weapon or through participation in an affiliate scheme
          authorised by Love is our Weapon.
        </li>
        <li>
          Love is our Weapon reserves the right to block users from being able to log in to the
          website.
        </li>
      </ul>

      <h3 class="m-t-lg m-b-md">User-generated content</h3>
      <ul>
        <li>
          Love is our Weapon allows users to submit information in various forms including (but not
          limited to) comments, survey responses and webforms (collectively hereafter referred to as
          ‘Content’). We reserve the right to not publish and/or remove Content that we feel is
          inappropriate (for example, but not limited to, content that is in conflict with our
          values, or content that is threatening, abusive, offensive or in poor taste).
        </li>
        <li>
          Love is our Weapon reserves the right to block users from being able to submit
          user-generated Content.
        </li>
      </ul>

      <h3 class="m-t-lg m-b-md">Users who submit Content in the forms listed warrant that:</h3>
      <ul>
        <li>
          You own the Content posted by you through the Love is our Weapon website or otherwise have
          the right to grant the licence set forth below.
        </li>
        <li>
          You have obtained the authorisation of the parents or guardians of any minors depicted in
          your Content.
        </li>
        <li>
          The posting of your Content on or through the Love is our Weapon website does not violate
          the privacy rights, publicity rights, copyrights, contract rights or any other rights of
          any persons.
        </li>
      </ul>

      <p>
        By displaying or publishing any Content on or through the Love is our Weapon website, you
        hereby grant the Love is our Weapon website a limited licence to use, modify, publicly
        perform, publicly display, reproduce and distribute such Content solely on and through the
        Love is our Weapon website.
      </p>
      <p>The licence you grant to Love is our Weapon is</p>
      <ul>
        <li>non-exclusive</li>
        <li>fully paid and royalty-free</li>
        <li>worldwide.</li>
      </ul>
      <p>
        This licence will terminate should you ask Love is our Weapon to remove your Content from
        the Love is our Weapon website by email or in writing. The licence does not grant Love is
        Our Weapon the right to sell your Content, nor does the licence grant Love is our Weapon the
        right to distribute your Content outside of the Love is our Weapon website
      </p>
    </div>
  </div>
</div>
